<style>
.portal-navbar {
    padding-top: 16px;
    margin-left: 16px;
}

@media screen and (max-width: 992px) {
    .portal-navbar {
        display: none !important;
    }
}

.portal-navbar__item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
    font-size: 16px;
    line-height: 24px;
    color: #062543;
}

.portal-navbar__item:hover {
    text-decoration: none;
    font-weight: 600;
    color: #062543;
}

.portal-navbar__item:active,
.portal-navbar__item.active {
    text-decoration: none;
    font-weight: 600;
    color: #062543;
}
</style>
<div class="portal-navbar">
<% if (getNavigationItems()) { %>
<%for(var item of getNavigationItems()) {%>
    <a class="portal-navbar__item" href="<%= item.url %>"><%= item.name %></a>
<%}%>
<% } %>
</div>
