<div class="kedo__main-documents-content">


  <div class="kedo__main-documents-files-wrapper">   
    <div class="kedo-loader-docs-wrapper">
      <div class="kedo-loader-img"></div>
    </div>
     
    <h3 class="kedo__main-documents-title">Мои Документы</h3>
    <section class="kedo-docs-search kedo-docs-search_hidden">
        <form action="#" name="kedoSearchMainForm" class="kedo-docs-search__form-main" novalidate>
    
            <input type="text" name="kedoSearchMainText" placeholder="Поиск по моим документам"
                class="kedo-docs-search__form-main-text" id="mainSearchInput"
                required minlength="2" maxlength="60">
            <button type="button" class="kedo-docs-search__form-main-btn-clear kedo-docs-search__form-main-btn-clear_hidden">
                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.86545 4.25006L7.39014 1.72537C7.53615 1.57936 7.53615 1.3424 7.39014 1.19615L6.8035 0.609512C6.65748 0.463496 6.42053 0.463496 6.27428 0.609512L3.74982 3.13443L1.22514 0.609746C1.07912 0.463731 0.842168 0.463731 0.695918 0.609746L0.109512 1.19615C-0.0365039 1.34217 -0.0365039 1.57912 0.109512 1.72537L2.6342 4.25006L0.109512 6.77475C-0.0365039 6.92076 -0.0365039 7.15771 0.109512 7.30396L0.696152 7.8906C0.842168 8.03662 1.07912 8.03662 1.22537 7.8906L3.74982 5.36568L6.27451 7.89037C6.42053 8.03639 6.65748 8.03639 6.80373 7.89037L7.39037 7.30373C7.53639 7.15772 7.53639 6.92076 7.39037 6.77451L4.86545 4.25006Z" fill="#1E6599"/>
                </svg>
            </button>
            <button type="button" class="kedo-docs-search__form-main-button">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M14.4985 0H1.50178C0.169343 0 -0.502939 1.61659 0.441124 2.56065L5.5 7.62131V13C5.5 13.4721 5.72228 13.9167 6.1 14.25L8.1 15.7208C9.07728 16.4038 10.5 15.7689 10.5 14.5208V7.62131L15.5592 2.56065C16.5013 1.6185 15.8336 0 14.4985 0ZM9 7V14.5L7 13V7L1.5 1.5H14.5L9 7Z"
                        fill="#1E6599" />
                </svg>
            </button>
        </form>
        <form action="#" name="kedoSearchFilterForm" class="kedo-docs-search__form-filter" novalidate>
            <div class="kedo-docs-search__form-filter-wrapper">
                <div class="kedo-docs-search__form-filter-string">
                    <label class="kedo-docs-search__form-filter-label kedo-docs-search__form-filter-string-column kedo-docs-search__form-filter-string-column_left" for="filterSearchInput">Название документа</label>
                    <input type="text" name="kedoSearchFilterText"
                        class="kedo-docs-search__form-filter-text kedo-docs-search__form-filter-string-column kedo-docs-search__form-filter-string-column_right" id="filterSearchInput" minlength="2" maxlength="60">
                </div>

                <div class="kedo-docs-search__form-filter-string">
                    <label class="kedo-docs-search__form-filter-label kedo-docs-search__form-filter-string-column kedo-docs-search__form-filter-string-column_left" for="">Дата создания</label>
                    <div class="kedo-docs-search__form-filter-dates-string kedo-docs-search__form-filter-string-column kedo-docs-search__form-filter-string-column_right">
                        <%= UI.widget.contextValue("filter_date_start", {required: false, onChange: () => Scripts.onInputHandler()}) %>
                        <p class="kedo-docs-search__form-filter-dates-separator">-</p>
                        <%= UI.widget.contextValue("filter_date_end", {required: false, onChange: () => Scripts.onInputHandler()}) %>
                    </div>
                </div>
            
                <div class="kedo-docs-search__form-filter-string">
                    <label
                        class="kedo-docs-search__form-filter-label kedo-docs-search__form-filter-string-column kedo-docs-search__form-filter-string-column_left"
                        for="">Статус</label>
                    <select id="cars" name="cars" class="kedo-docs-search__form-filter-status-select-string kedo-docs-search__form-filter-string-column kedo-docs-search__form-filter-string-column_right">
                        <option value="any" selected>Любой статус</option>
                        <option value="signing">На подписании</option>
                        <option value="agrement">На согласовании</option>
                        <option value="signed">Подписан</option>
                        <option value="new">Новый</option>
                        <option value="removed">Отменён</option>
                    </select>
                </div>
            
                <button type="submit" class="kedo-docs-search__form-filter-button" disabled>
                    Поиск
                </button>
            </div>
        </form>
    </section>
    <h5 class="kedo__main-documents-title-sub">Задачи</h5>
    <div class="kedo__main-documents-table-head kedo__main-documents-table-head_actions">
      <div class="kedo__main-documents-table-head-name-wrapper">
        <!-- <div class="kedo__main-documents-table-head-ellips-wrapper">
          <div class="kedo__main-documents-table-head-ellips"></div>
        </div> -->
        <p class="kedo__main-documents-table-head-text">Название документа</p>
      </div>
      <p class="kedo__main-documents-table-head-text">Сделать до</p>
      <p class="kedo__main-documents-table-head-text kedo__main-documents-table-head-text_responsible">Ответственный</p>
      <div class="kedo__main-documents-table-head-status-wrapper">
        <p class="kedo__main-documents-table-head-text">Статус</p>
        <div class="kedo__main-documents-table-head-status-arrow"></div>
      </div>
    </div>
    <div class="kedo__main-documents-table-section kedo__main-documents-table-section_actions">
      <div class="kedo__main-documents-table-section-title-wrapper kedo__main-documents-table-section-title-wrapper_action kedo__main-documents-table-section-title-wrapper_hidden">
        <p class="kedo__main-documents-table-section-title kedo__main-documents-table-section-title_action">В данный момент у вас нет документов, требующих действия</p>
        <!-- <div class="kedo__main-documents-table-section-title-arrow"></div> -->
      </div>
      <ul class="kedo__main-documents-table-section-list kedo__main-documents-table-section-list_actions">
      </ul>
    </div>

    <h5 class="kedo__main-documents-title-sub">Документы</h5>
    <!-- <div class="kedo__main-documents-table-head kedo__main-documents-table-head_docs">
      <div class="kedo__main-documents-table-head-name-wrapper">
        <div class="kedo__main-documents-table-head-ellips-wrapper">
          <div class="kedo__main-documents-table-head-ellips"></div>
        </div>
        <p class="kedo__main-documents-table-head-text">Название документа</p>
      </div>
      <p class="kedo__main-documents-table-head-text">Дата</p>
      <p class="kedo__main-documents-table-head-text">Ответственный</p>
      <div class="kedo__main-documents-table-head-status-wrapper">
        <p class="kedo__main-documents-table-head-text">Статус</p>
        <div class="kedo__main-documents-table-head-status-arrow"></div>
      </div> -->
    </div>
    
    <div class="kedo__main-documents-table-section kedo__main-documents-table-section_today">
      <div class="kedo__main-documents-table-section-title-wrapper">
        <p class="kedo__main-documents-table-section-title">Сегодня</p>
        <div class="kedo__main-documents-table-section-title-arrow"></div>
      </div>
      <ul class="kedo__main-documents-table-section-list kedo__main-documents-table-section-list_today">
      </ul>
    </div>
    <div class="kedo__main-documents-table-section kedo__main-documents-table-section_week">
      <div class="kedo__main-documents-table-section-title-wrapper">
        <p class="kedo__main-documents-table-section-title">За последние 7 дней</p>
        <div class="kedo__main-documents-table-section-title-arrow"></div>
      </div>
      <ul class="kedo__main-documents-table-section-list kedo__main-documents-table-section-list_week">
      </ul>
    </div>
    <div class="kedo__main-documents-table-section kedo__main-documents-table-section_month">
      <div class="kedo__main-documents-table-section-title-wrapper">
        <p class="kedo__main-documents-table-section-title">За последний месяц</p>
        <div class="kedo__main-documents-table-section-title-arrow"></div>
      </div>
      <ul class="kedo__main-documents-table-section-list kedo__main-documents-table-section-list_month">
      </ul>
    </div>
  </div>
</div>


<template class="kedo__main-documents-table-section-list-item-template">
  <li class="kedo__main-documents-table-section-list-item">
    <div class="kedo__main-documents-table-string-file-name-wrapper">
      <!-- <div class="kedo__main-documents-table-string-ellips-wrapper">
        <div class="kedo__main-documents-table-string-ellips"></div>
      </div> -->
      <div class="kedo__main-documents-table-string-file-name-img doc-img"></div>
      <a href="" class="kedo__main-documents-table-string-file-name"></a>
    </div>
    <p class="kedo__main-documents-table-string-date"></p>
    <!-- <div class="kedo__main-documents-table-string-user-name-wrapper">
      <span class="kedo__main-documents-table-string-user-name-span">Ответственный:&nbsp;</span>
      <p class="kedo__main-documents-table-string-user-name"></p>
    </div> -->
    <div class="kedo__main-documents-table-string-status-wrapper">
      <p class="kedo__main-documents-table-string-status"></p>  
    </div>
  </li>
</template>
