<style>
	.documents.documents-page_main-content {
		margin: 0;
		padding: 0;
		font-family: 'SF Pro Display';
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 0;
		padding-bottom: 0;
		font-size: 16px
	}

	.documents h3 {
		font-size: 2rem
	}

	.documents svg {
		fill: none
	}

	.search-choice-items.expanded {
		transform: rotateX(0);
	}

	.title-search {
		/* width: 100%; */
		padding: 0.5rem 1rem;
		border-radius: 4px;
		background: #FFF;
		border: none;
		box-sizing: border-box;
		position: relative;
		transition: all .3s;
	}

	.common-content_title_search-extend_item-value_calendar .vanilla-calendar-header {
		margin-bottom: 0;
		border-top-right-radius: 8px;
		border-top-left-radius: 8px;
		border-top: 1px solid #D9D9D9;
		border-right: 1px solid #D9D9D9;
		border-left: 1px solid #D9D9D9;
	}

	.common-content_title_search-extend.expanded {
		transform: rotateX(0);
		z-index: 10;
	}

	.vanilla-calendar.common-content_title_search-extend_item-value_calendar {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 2;
		padding: 0;
		top: 4rem;
		right: -20%
	}

	.common-content_title_search-extend_item-value_calendar .vanilla-calendar-wrapper {
		background-color: #fff;
		padding: 1rem;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		border-bottom: 1px solid #d9d9d9;
		border-left: 1px solid #d9d9d9;
		border-right: 1px solid #d9d9d9
	}

	.vanilla-calendar.hidden {
		display: none
	}

	.vanilla-calendar.tasks-page_main-content_title_search-extend_item-value_calendar {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 2;
		padding: 0;
		top: 4rem;
		right: -20%
	}

	.vanilla-calendar.common-content_title_search-extend_item-value_calendar {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 2;
		padding: 0;
		top: 4rem;
		right: -20%
	}

	.mobile .vanilla-calendar.tasks-page_main-content_title_search-extend_item-value_calendar {
		right: auto;
		top: 4rem
	}

	.documents.common-content_mobile_footer.hidden {
		transform: translateY(100%)
	}

	.documents.common-table-content {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: .5rem 0
	}

	.documents.common-table-content .common-content_table-item {
		padding: 1rem 1.5rem;
		margin: 0 .5rem;
		border-radius: 8px;
		min-height: 5.75rem
	}

	.documents.common-table-content .common-content_table-item:hover {
		background-color: #f3f6ff;
		cursor: pointer
	}

	.common-content_title_search-extend {
		display: flex;
		flex-direction: column;
		padding: 1rem 1.5rem;
		position: absolute;
		width: 100%;
		box-sizing: border-box;
		height: fit-content;
		background-color: #fff;
		box-shadow: 0 6px 28px 0 rgba(37, 41, 65, .16);
		top: 3.5rem;
		gap: 1rem;
		font-size: 15px;
		transform: rotateX(90deg);
		transform-origin: top
	}

	.common-content_title_search-extend_item {
		background-color: #fff
	}

	.common-content_title_search-extend_item .title-search {
		border: 1px solid #d9d9d9
	}

	.common-content_title_search-extend_footer {
		display: flex;
		gap: 1rem
	}

	.documents.common-content_mobile_footer {
		position: fixed;
		bottom: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		border-top-right-radius: 20px;
		border-top-left-radius: 20px;
		background-color: #fff;
		width: 100%;
		transition: all .3s;
		transform: translateY(0);
		z-index: 3;
		max-height: 80%;
		overflow-y: auto
	}

	.documents.common-content_mobile_footer.hidden {
		transform: translateY(100%)
	}

	.documents.common-content_mobile_footer-item {
		display: flex;
		padding: 1rem;
		align-items: center;
		justify-content: center;
		border-bottom: 1px solid #f0f0f0
	}

	.documents.common-content_mobile_footer-item:first-child,
	.documents.common-content_mobile_footer-item:last-child {
		border: none
	}

	.documents.common-content_title_tab {
		border-radius: 8px;
		background-color: transparent;
		border: 1px solid #05f;
		padding: .35rem 1rem;
		color: #05f;
		user-select: none;
		transition: all .3s;
		cursor: pointer
	}

	.documents.common-content_title_tab.active {
		background-color: #05f;
		color: #fff
	}

	.documents.common-content_title_tab:hover {
		background-color: #05f;
		color: #fff
	}

	a.common-content_table-item {
		color: #000;
		text-decoration: none
	}

	.common-content_mobile_container-item_status {
		font-size: 12px;
		font-weight: 500;
		padding: .6rem .9rem;
		border-radius: 8px;
		background-color: #bcbcbc;
		max-width: fit-content
	}

	.documents.common-widget-title {
		display: flex;
		justify-content: space-between;
		gap: 1rem
	}

	.documents.common-content_title_text {
		pointer-events: none
	}

	.documents.common-content_table {
		display: flex;
		flex-direction: column;
		width: 100%;
		border-radius: 8px;
		background-color: #fff;
		font-size: 15px;
		font-weight: 400
	}

	.documents.common-content_table.hidden {
		display: none
	}

	.documents.common-content_table-item {
		display: flex;
		flex-grow: 1;
		padding: 1rem 2rem;
		gap: 1rem;
		align-items: center
	}

	.documents.common-table-content {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: .5rem 0
	}

	.documents.common-table-content .common-content_table-item {
		padding: 1rem 1.5rem;
		margin: 0 .5rem;
		border-radius: 8px;
		min-height: 5.75rem
	}

	.documents.common-table-content .common-content_table-item:hover {
		background-color: #f3f6ff;
		cursor: pointer
	}

	.documents.main-page {
		display: flex;
		flex: 2 1 30%;
		width: 100%;
		position: relative;
		flex-direction: column;
		background-color: #f5f6fa;
		min-height: 100dvh
	}

	.documents.main-page_main-content {
		background-color: #f5f6fa;
		padding: 30px 20px 44px;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		gap: 2.25rem
	}

	.documents.kedo-loader-wrapper {
		background-color: #fff;
		opacity: 1;
		z-index: 999;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		width: 100%;
		height: 100%;
		transition: all .5s
	}

	.documents.kedo-loader-wrapper.hidden {
		z-index: -1;
		opacity: 0
	}

	.kedo-loader {
		width: 50px;
		--b: 8px;
		aspect-ratio: 1;
		border-radius: 50%;
		background: #514b82;
		-webkit-mask: repeating-conic-gradient(#0000 0deg, #000 1deg 70deg, #0000 71deg 90deg), radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
		-webkit-mask-composite: destination-in;
		mask-composite: intersect;
		animation: kedo-loader-rotate 1s infinite
	}

	.kedo-spinner {
		animation: kedo-spinner-rotate .6s linear infinite;
		height: 24px;
		width: 24px;
		fill: #000
	}

	@keyframes kedo-loader-rotate {
		to {
			transform: rotate(.5turn)
		}
	}

	@keyframes kedo-spinner-rotate {
		0% {
			transform: rotate(0)
		}

		100% {
			transform: rotate(360deg)
		}
	}

	.st0 {
		opacity: .6
	}

	.st1 {
		opacity: .5
	}

	.st2 {
		opacity: .4
	}

	.st3 {
		opacity: .3
	}

	.st4 {
		opacity: .8
	}

	.st5 {
		opacity: .9
	}

	.st6 {
		opacity: .1
	}

	.st7 {
		opacity: .2
	}

	.documents.active-page-item {
		background-color: #f5f6fa;
		padding: 30px 20px 44px;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		gap: 2.5rem;
		position: relative;
		min-height: 100dvh
	}

	.hidden {
		display: none
	}

	.documents.active-page-item.hidden {
		display: none
	}

	.search-choice-items {
		display: flex;
		position: absolute;
		transform: rotateX(90deg);
		transform-origin: top;
		flex-direction: column;
		top: 3rem;
		gap: .5rem;
		width: 100%;
		box-sizing: border-box;
		height: fit-content;
		z-index: 2;
		background-color: #fff;
		border-bottom: 1px solid #d9d9d9;
		border-left: 1px solid #d9d9d9;
		border-right: 1px solid #d9d9d9;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		transition: all .1s;
		max-height: 15rem;
		overflow: auto
	}

	.content_paginator {
		display: flex;
		align-items: center;
		font-size: 18px;
		font-weight: 600;
		font-style: normal;
		line-height: 22px;
		padding: 0 .5rem;
		max-height: 2rem
	}

	.paginator_item {
		color: #05f;
		padding: .75rem 1rem;
		transition: all .3s;
		border-radius: 4px
	}

	.paginator_item:hover {
		cursor: pointer;
		background-color: #e3ebfc
	}

	.paginator_item.active {
		color: #fff;
		background-color: #5082e6
	}

	.paginator-button {
		color: #05f
	}

	.paginator-button:hover {
		cursor: pointer
	}

	.search-item {
		padding: .5rem 1rem;
		cursor: pointer
	}

	.search-item:hover {
		background-color: #f3f6ff
	}

	.tasks-page_main-content_title_search-extend_item .title-search {
		border: 1px solid #d9d9d9
	}

	.documents.common-widget-title {
		display: flex;
		justify-content: space-between;
		gap: 1rem
	}

	.documents.common-content_title_text {
		pointer-events: none
	}

	.documents.common-content_table {
		display: flex;
		flex-direction: column;
		width: 100%;
		border-radius: 8px;
		background-color: #fff;
		font-size: 15px;
		font-weight: 400
	}

	.documents.common-content_table.hidden {
		display: none
	}

	.documents.common-content_table-item {
		display: flex;
		flex-grow: 1;
		padding: 1rem 2rem;
		gap: 1rem;
		align-items: center
	}

	.documents.common-table-content {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: .5rem 0
	}

	.documents.common-table-content .common-content_table-item {
		padding: 1rem 1.5rem;
		margin: 0 .5rem;
		border-radius: 8px;
		min-height: 5.75rem
	}

	.documents.common-table-content .common-content_table-item:hover {
		background-color: #f3f6ff;
		cursor: pointer
	}

	.vanilla-calendar.common-content_title_search-extend_item-value_calendar {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 2;
		padding: 0;
		top: 4rem;
		right: -20%
	}

	.common-content_title_search-extend_item-value_calendar .vanilla-calendar-wrapper {
		background-color: #fff;
		padding: 1rem;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		border-bottom: 1px solid #d9d9d9;
		border-left: 1px solid #d9d9d9;
		border-right: 1px solid #d9d9d9
	}

	.vanilla-calendar.hidden {
		display: none
	}

	.common-content_title_search-extend {
		display: flex;
		flex-direction: column;
		padding: 1rem 1.5rem;
		position: absolute;
		width: 100%;
		box-sizing: border-box;
		height: fit-content;
		background-color: #fff;
		box-shadow: 0 6px 28px 0 rgba(37, 41, 65, .16);
		top: 3.5rem;
		gap: 1rem;
		font-size: 15px;
		transform: rotateX(90deg);
		transform-origin: top
	}

	.common-content_title_search-extend_item {
		background-color: #fff
	}

	.common-content_title_search-extend_item .title-search {
		border: 1px solid #d9d9d9
	}

	.common-content_title_search-extend_footer {
		display: flex;
		gap: 1rem
	}

	.documents.common-content_title_tab {
		border-radius: 8px;
		background-color: transparent;
		border: 1px solid #05f;
		padding: .35rem 1rem;
		color: #05f;
		user-select: none;
		transition: all .3s;
		cursor: pointer
	}

	.documents.common-content_title_tab.active {
		background-color: #05f;
		color: #fff
	}

	.documents.common-content_title_tab:hover {
		background-color: #05f;
		color: #fff
	}

	.common_search-date {
		flex-grow: 0;
		flex-basis: 30%;
		display: flex;
		position: relative
	}

	.title-search:focus {
		outline: 1px solid #84adff
	}

	.documents.active h3 {
		color: #05f
	}

	.active .status-name {
		color: #b1cbff
	}

	.active path {
		stroke: #05f
	}

	.documents.tasks-page_main-content_title_tab.active {
		color: #fff;
		background-color: #05f
	}

	.documents.main-widget {
		display: flex;
		flex-direction: column;
		gap: 1.25rem
	}

	.documents.widget-title {
		display: flex;
		justify-content: space-between
	}

	.documents.widget-item {
		padding: 1.5rem;
		box-sizing: border-box;
		border-radius: 8px;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		flex-basis: 25%;
		transition: all .3s
	}

	.item-status {
		display: flex;
		justify-content: start;
		align-items: center;
		gap: .5rem
	}

	.status-name {
		color: #bcbcbc;
		font-size: 16px;
		font-weight: 400
	}

	.documents.document-name {
		flex-basis: 50%
	}

	.documents.document-created {
		flex-basis: 30%
	}

	.document-status {
		flex-basis: 20%
	}

	.documents.document-page_main-content_title_text {
		margin-bottom: 0
	}

	.common-content_title_tab.documents-search.active {
		pointer-events: all
	}

	.documents.main-page_left-menu {
		display: flex;
		flex-direction: column;
		padding: 0 10px;
		justify-content: space-between;
		z-index: 100
	}

	.documents.main-page_left-menu-wrapper {
		display: flex;
		flex-direction: column;
		gap: .6rem;
		flex-basis: 30rem;
		position: sticky;
		top: 70px;
		padding-top: 1.35rem
	}

	.documents.left-menu_item {
		display: flex;
		gap: 1rem;
		font-size: 16px;
		font-weight: 400;
		padding: 14px 10px;
		border-radius: 8px;
		cursor: pointer;
		user-select: none;
		max-width: 30rem;
		position: relative
	}

	.documents.left-menu_item:nth-last-child(3)::after {
		content: "";
		position: absolute;
		width: 100%;
		border-bottom: 1px solid #e2e5e7;
		bottom: -.5rem
	}

	.documents.left-menu_item.active {
		font-weight: 600;
		background-color: #f5f6fa;
		pointer-events: none
	}

	.documents.task-item-title {
		font-weight: 600
	}

	.documents g {
		fill: transparent
	}

	.documents.mock-left-menu {
		width: 400px;
		background-color: #f2f8fc
	}

	.documents.title-text {
		font-size: 2.4rem;
		margin-bottom: 0
	}

	.loader-spinner {
		width: 2.5rem;
		height: 2.5rem;
		animation: spinner-rotation .7s linear infinite
	}

	@keyframes spinner-rotation {
		from {
			transform: rotate(0)
		}

		to {
			transform: rotate(360deg)
		}
	}

	.documents.tasks-page_main-content {
		display: flex;
		flex-direction: column;
		gap: 1rem
	}

	.documents.tasks-page_main-content.hidden {
		display: none
	}

	.documents.tasks-page_main-content_title {
		display: flex;
		justify-content: space-between;
		gap: 1rem
	}

	.documents.tasks-page_main-content_title-left {
		display: flex;
		align-items: center;
		justify-content: left;
		flex-basis: 45%;
		gap: .6rem;
		flex-wrap: wrap
	}

	.documents.common-widget-title_left {
		display: flex;
		align-items: center;
		justify-content: left;
		flex-basis: 45%;
		gap: .6rem;
		flex-wrap: wrap
	}

	.documents.right-arrow {
		color: #05f
	}

	.documents.tasks-page_main-content_title-right {
		display: flex;
		align-items: center;
		justify-content: right;
		flex-grow: 1
	}

	.documents.common-widget-title_right {
		display: flex;
		align-items: center;
		justify-content: right;
		flex-grow: 1
	}

	.tasks-page_main-content_title_search {
		width: 100%;
		position: relative
	}

	.common-content_title_search {
		width: 100%;
		position: relative
	}

	.tasks-page_main-content_title_search-extend {
		display: flex;
		flex-direction: column;
		padding: 1rem 1.5rem;
		position: absolute;
		width: 100%;
		box-sizing: border-box;
		height: fit-content;
		background-color: #fff;
		box-shadow: 0 6px 28px 0 rgba(37, 41, 65, .16);
		top: 3.5rem;
		gap: 1rem;
		font-size: 15px;
		transform: rotateX(90deg);
		transform-origin: top
	}

	.tasks-page_main-content_title_search-extend_title-img {
		cursor: pointer
	}

	.common-content_title_search-extend_title-img {
		cursor: pointer
	}

	.common-content_title_search-extend_title-img path {
		transition: all .3s
	}

	.common-content_title_search-extend_title-img:hover path {
		fill: #739af0
	}

	.tasks-page_main-content_title_search-extend_title-img path {
		transition: all .3s
	}

	.tasks-page_main-content_title_search-extend_title-img:hover path {
		fill: #739af0
	}

	.tasks-page_main-content_title_search-extend_title {
		display: flex;
		align-items: center;
		justify-content: space-between
	}

	.common-content_title_search-extend_title {
		display: flex;
		align-items: center;
		justify-content: space-between
	}

	.tasks-page_main-content_title_search-extend_content {
		display: flex;
		flex-direction: column;
		padding: 1rem 0;
		gap: 3rem;
		overflow-y: visible;
		flex: 2
	}

	.common-content_title_search-extend_content {
		display: flex;
		flex-direction: column;
		padding: 1rem 0;
		gap: 3rem;
		overflow-y: visible;
		flex: 2
	}

	.tasks-page_main-content_title_search-extend_item {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 1rem
	}

	.common-content_title_search-extend_item {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 1rem
	}

	.tasks-page_main-content_title_search-extend_item-label {
		flex-basis: 30%
	}

	.common-content_title_search-extend_item-label {
		flex-basis: 30%
	}

	.tasks-page_main-content_title_search-extend_item-value {
		flex-grow: 1;
		position: relative
	}

	.common-content_title_search-extend_item-value {
		flex-grow: 1;
		position: relative
	}

	.common-content_title_search-extend_item-value {
		flex-grow: 1;
		position: relative
	}

	.tasks-page_main-content_title_search-extend_item-value.task-search-date {
		flex-grow: 0;
		flex-basis: 30%;
		display: flex;
		position: relative
	}

	.common-content_title_search-extend_item-value.task-search-date {
		flex-grow: 0;
		flex-basis: 30%;
		display: flex;
		position: relative
	}

	.vanilla-calendar.tasks-page_main-content_title_search-extend_item-value_calendar {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 2;
		padding: 0;
		top: 4rem;
		right: -20%
	}

	.vanilla-calendar.common-content_title_search-extend_item-value_calendar {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 2;
		padding: 0;
		top: 4rem;
		right: -20%
	}

	.tasks-page_main-content_title_search-extend_item-value_calendar .vanilla-calendar-wrapper {
		background-color: #fff;
		padding: 1rem;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		border-bottom: 1px solid #d9d9d9;
		border-left: 1px solid #d9d9d9;
		border-right: 1px solid #d9d9d9
	}

	.vanilla-calendar.hidden {
		display: none
	}

	.tasks-page_main-content_title_search-extend_input-date-label {
		max-width: 10rem;
		outline: 0;
		border: none;
		text-align: center;
		font-weight: 100
	}

	.tasks-page_main-content_title_search-extend_input-date-label::placeholder {
		color: #d4d4d4
	}

	.common-content_title_search-extend_input-date-label {
		max-width: 10rem;
		outline: 0;
		border: none;
		text-align: center
	}

	.tasks-page_main-content_title_search-extend_input-date:has(.tasks-page_main-content_title_search-extend_input-date-label:invalid) {
		border: 1px solid red
	}

	.common-content_title_search-extend_input-date:has(.common-content_title_search-extend_input-date-label:invalid) {
		border: 1px solid red
	}

	.tasks-page_main-content_title_search-extend_input-date {
		display: flex;
		align-items: center;
		justify-content: flex-start
	}

	.common-content_title_search-extend_input-date {
		display: flex;
		align-items: center;
		justify-content: space-between
	}

	.tasks-page_main-content_title_search-extend_input-date-img {
		display: flex
	}

	.common-content_title_search-extend_input-date-img {
		display: flex
	}

	.tasks-page_main-content_title_search-extend_input-date-arrow {
		display: flex;
		transition: all .3s;
		cursor: pointer;
		margin-left: .8rem
	}

	.common-content_title_search-extend_input-date-arrow {
		display: flex;
		transition: all .3s;
		cursor: pointer
	}

	.tasks-page_main-content_title_search-input_img {
		position: absolute;
		top: 15%;
		right: 1rem;
		cursor: pointer
	}

	.common-content_title_search-input_img {
		position: absolute;
		top: 15%;
		right: 1rem;
		cursor: pointer
	}

	.tasks-page_main-content_title_search-extend_input-status {
		position: relative
	}

	.common-content_title_search-extend_input-status {
		position: relative
	}

	.tasks-page_main-content_title_search-extend_input-status-arrow {
		position: absolute;
		top: 25%;
		right: .7rem;
		transition: all .3s;
		transform-origin: center;
		display: flex;
		cursor: pointer
	}

	.common-content_title_search-extend_input-status-arrow {
		position: absolute;
		top: 25%;
		right: .7rem;
		transition: all .3s;
		transform-origin: center;
		display: flex;
		cursor: pointer
	}

	.common-content_title_search-extend_input-status-arrow {
		position: absolute;
		top: 25%;
		right: .7rem;
		transition: all .3s;
		transform-origin: center;
		display: flex;
		cursor: pointer
	}

	.tasks-page_main-content_title_search-extend_input-status-values {
		display: flex;
		position: absolute;
		transform: rotateX(90deg);
		transform-origin: top;
		flex-direction: column;
		top: 2rem;
		gap: .5rem;
		width: 100%;
		box-sizing: border-box;
		height: fit-content;
		z-index: 2;
		background-color: #fff;
		border-bottom: 1px solid #d9d9d9;
		border-left: 1px solid #d9d9d9;
		border-right: 1px solid #d9d9d9;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		transition: all .1s
	}

	.common-content_title_search-extend_input-status-values {
		display: flex;
		position: absolute;
		transform: rotateX(90deg);
		transform-origin: top;
		flex-direction: column;
		top: 2rem;
		gap: .5rem;
		width: 100%;
		box-sizing: border-box;
		height: fit-content;
		z-index: 2;
		background-color: #fff;
		border-bottom: 1px solid #d9d9d9;
		border-left: 1px solid #d9d9d9;
		border-right: 1px solid #d9d9d9;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		transition: all .1s
	}

	.input-status-values_item {
		padding: .5rem 1rem;
		cursor: pointer
	}

	.input-status-values_item:hover {
		background-color: #f3f6ff
	}

	.tasks-page_main-content_title_search-extend_footer {
		display: flex;
		gap: 1rem
	}

	.tasks-page_main-content_title_tab.tasks-search.active {
		pointer-events: all
	}

	.tasks-page_main-content_title_search-extend .tasks-page_main-content_title_tab {
		flex-grow: 0
	}

	.documents.tasks-page_main-content_title_tab {
		border-radius: 8px;
		background-color: transparent;
		border: 1px solid #05f;
		padding: .35rem 1rem;
		color: #05f;
		user-select: none;
		transition: all .3s;
		cursor: pointer;
		display: flex
	}

	.documents.tasks-page_main-content_title_tab.hidden {
		display: none
	}

	.documents.tasks-page_main-content_table {
		display: flex;
		flex-direction: column;
		width: 100%;
		border-radius: 8px;
		background-color: #fff;
		font-size: 15px;
		font-weight: 400
	}

	.documents.tasks-page_main-content_table.hidden {
		display: none
	}

	.documents.table-content {
		display: flex;
		flex-direction: column;
		width: 100%;
		border-radius: 8px;
		background-color: #fff;
		font-size: 15px;
		font-weight: 400
	}

	.documents.table-content.hidden {
		display: none
	}

	.documents.tasks-page_main-content_table-title {
		display: flex;
		width: 100%;
		border-bottom: 1px solid #d9d9d9;
		color: #c4c4c4
	}

	.documents.common-content_table-title {
		display: flex;
		width: 100%;
		border-bottom: 1px solid #d9d9d9;
		color: #c4c4c4
	}

	.documents.tasks-page_main-content_table-content {
		display: flex;
		flex-direction: column;
		width: 100%
	}

	.documents.tasks-page_main-content_table-item {
		display: flex;
		flex-grow: 1;
		padding: 2.2rem 2rem;
		gap: 1rem;
		align-items: center
	}

	.documents.tasks-page_main-content_table-item.hidden {
		display: none
	}

	.documents.tasks-page_main-content_table-content .tasks-page_main-content_table-item {
		padding: 1rem 1.5rem;
		margin: 0 .5rem;
		border-radius: 8px;
		min-height: 5.75rem
	}

	.documents.tasks-page_main-content_table-content .tasks-page_main-content_table-item:hover {
		background-color: #f3f6ff;
		cursor: pointer
	}

	.documents.tasks-page_main-content_title_tab.active {
		color: #fff;
		background-color: #05f;
		pointer-events: none
	}

	.documents.tasks-name {
		flex-basis: 40%
	}

	.documents.task-type {
		flex-basis: 10%
	}

	.documents.task-created {
		flex-basis: 17%
	}

	.task-status {
		flex-basis: 20%;
		max-width: 15rem
	}

	.tasks-page_main-content_table-item-section_status {
		padding: .5rem .75rem;
		border-radius: 8px;
		background-color: #c4c4c4;
		font-size: 12px;
		display: flex;
		justify-content: center;
		flex-grow: 0
	}

	.common-content_table-item-section_status {
		padding: .5rem .75rem;
		border-radius: 8px;
		background-color: #c4c4c4;
		font-size: 12px;
		display: flex;
		justify-content: center;
		flex-grow: 0
	}

	.documents.tasks-page_main-content_table-empty {
		display: flex;
		width: 100%;
		padding: 2rem;
		align-items: center;
		justify-content: center
	}

	.documents.common-content_table-empty {
		display: flex;
		width: 100%;
		padding: 4rem;
		align-items: center;
		justify-content: center;
		border-radius: 8px
	}

	.documents.common-content_table-empty.hidden {
		display: none
	}

	.tasks-page_main-content_paginator {
		display: flex;
		align-items: center;
		font-size: 18px;
		font-weight: 600;
		font-style: normal;
		line-height: 22px;
		padding: 0 .5rem;
		max-height: 2rem
	}

	.tasks-page_main-content_paginator_item {
		color: #05f;
		padding: .75rem 1.4rem;
		transition: all .3s;
		border-radius: 4px
	}

	.paginator-item {
		color: #05f;
		padding: .75rem 1.4rem;
		transition: all .3s;
		border-radius: 4px
	}

	.paginator-item:hover {
		cursor: pointer;
		background-color: #e3ebfc
	}

	.paginator-item.active {
		color: #fff;
		background-color: #5082e6
	}

	.tasks-page_main-content_paginator_item:hover {
		cursor: pointer;
		background-color: #e3ebfc
	}

	.tasks-page_main-content_paginator_item.active {
		color: #fff;
		background-color: #5082e6
	}

	@media (max-width:1100px) {
		.documents.tasks-page_main-content_title {
			flex-direction: column
		}

		.tasks-page_main-content_title_search-extend_item {
			align-items: start;
			flex-direction: column;
			gap: .5rem
		}

		.documents.tasks-page_main-content_table {
			font-size: 13px
		}

		.documents.task-type {
			display: none
		}

		.documents.task-name {
			flex-basis: 40%
		}

		.task-status {
			flex-basis: 20%
		}

		.documents.task-created {
			flex-basis: 15%
		}
	}

	@media (max-width:900px) {
		.documents.task-created {
			display: none
		}
	}

	@media (max-width:720px) {
		.documents.tasks-page_main-content_table {
			display: none
		}

		.tasks-page_main-content_title_search-extend_input-status input::placeholder {
			color: transparent !important
		}
	}

	@media (max-width:450px) {
		.documents.main-page {
			margin-top: 4rem
		}

		.documents.active-page-item {
			background-color: #f5f6fa;
			gap: 0;
			padding: 0;
			height: 100%;
			overflow-y: auto
		}

		.documents.main-page_left-menu {
			min-height: calc(100dvh - 30px)
		}

		.documents.main-page_main-content {
			padding: 20px 16px 24px;
			margin-bottom: 4rem
		}

		.documents.main-page_left-menu {
			display: none
		}

		.documents.common-widget-title {
			border-bottom: 1px solid #d9d9d9;
			background-color: #fff;
			padding: .5rem .8rem
		}

		.documents.common-content_title_text:not(.business_trips-page_main-content_title_text):not(.services-page_main-content_title_text):not(.vacations-page_main-content_title_text):after {
			position: absolute;
			content: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.12969 5.09184C4.32812 5.31056 4.67188 5.31056 4.87031 5.09184L8.5047 1.08597C8.7962 0.764662 8.56822 0.25 8.13439 0.25H0.86561C0.431776 0.25 0.203796 0.764663 0.495303 1.08597L4.12969 5.09184Z' fill='black'/%3E%3C/svg%3E");
			right: -1.5rem;
			top: -.1rem;
			cursor: pointer;
			pointer-events: all
		}

		.common-content_title_search-extend {
			width: 100%;
			position: fixed;
			top: 0;
			left: 0
		}

		.common-content_title_search-extend_item {
			align-items: start;
			flex-direction: column;
			gap: .5rem
		}

		.vanilla-calendar.common-content_title_search-extend_item-value_calendar {
			left: 0
		}

		.documents.common-content_table {
			margin: 1rem 0
		}

		.documents.common-content_title_text {
			font-size: 16px;
			font-weight: 600;
			position: relative
		}

		.documents.common-content_table-title {
			display: none
		}

		.documents.common-content_table-item {
			padding: 1rem;
			margin: 0;
			border-radius: 0;
			flex-direction: column-reverse;
			align-items: flex-start
		}

		.documents.tasks-page_main-content {
			margin-top: 3.5rem;
			gap: 0
		}

		.documents.tasks-page_main-content_title {
			display: none
		}

		.documents.tasks-page_main-content_table {
			display: none
		}

		.documents.active-page-item.tasks-page_main-content {
			padding: 0
		}

		.content_paginator {
			margin-bottom: 7rem
		}

		.documents.widget-item {
			flex-basis: auto;
			flex-grow: 1;
			max-width: auto
		}

		.documents.page-widget {
			background-color: #f5f6fa;
			gap: 0
		}

		.documents.documents-page_main-content_table-title {
			display: none
		}

		.documents.document-page_main-content_title_text {
			font-size: 16px;
			font-weight: 600;
			position: relative
		}

		.documents.common-widget-title_left {
			flex-grow: 1
		}

		.documents.common-widget-title_left .common-content_title_tab {
			display: none
		}

		.documents-page_main-content_title_search-input.title-search {
			display: none
		}

		.common-content_title_search-input_img {
			position: relative;
			top: 0
		}

		.documents.common-widget-title_right {
			flex-grow: 0
		}

		.documents.document-created {
			display: none
		}

		.documents.common-table-content {
			background-color: #f5f6fa;
			gap: 1rem
		}

		.documents.common-content_table-item {
			background-color: #fff
		}
	}
</style>

<div data-menu-item="documents" class="documents documents-page_main-content active-page-item page-widget">
	<div class="documents kedo-loader-wrapper hidden" data-loader="documents">
		<!-- <div class="kedo-loader">
                            </div> -->

		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" data-test="spinner" class="kedo-spinner">
			<path d="M13 3v-2c-2.7 0-5.4.9-7.7 2.8l-.8.7 1.4 1.4c2-1.9 4.5-2.9 7.1-2.9z" class="st0"></path>
			<path d="M5.9 5.9l-1.4-1.4c-2.3 2.3-3.5 5.4-3.5 8.5h2c0-2.6 1-5.1 2.9-7.1z" class="st1">
			</path>
			<path d="M3 13h-2c0 2.7.9 5.4 2.8 7.7l.7.8 1.4-1.4c-1.9-2-2.9-4.5-2.9-7.1z" class="st2">
			</path>
			<path d="M5.9 20.1l-1.4 1.4c2.3 2.3 5.4 3.5 8.5 3.5v-2c-2.6 0-5.1-1-7.1-2.9z" class="st3"></path>
			<path d="M20.1 5.9l1.4-1.4c-2.3-2.3-5.4-3.5-8.5-3.5v2c2.6 0 5.1 1 7.1 2.9z" class="st4">
			</path>
			<path d="M23 13h2c0-2.7-.9-5.4-2.8-7.7l-.7-.8-1.4 1.4c1.9 2 2.9 4.5 2.9 7.1z" class="st5"></path>
			<path d="M20.1 20.1l1.4 1.4c2.3-2.3 3.5-5.4 3.5-8.5h-2c0 2.6-1 5.1-2.9 7.1z" class="st6"></path>
			<path d="M20.7 22.2l.8-.7-1.4-1.4c-2 2-4.5 2.9-7.1 2.9v2c2.7 0 5.4-.9 7.7-2.8z" class="st7"></path>
		</svg>
	</div>
	<div class="documents common-widget-title documents-page_main-content_title">
		<div class="documents documents-page_main-content_title-left common-widget-title_left">
			<h3 class="documents document-page_main-content_title_text common-content_title_text">
				Мои заявки
			</h3>
			<div class="documents common-content_title_tab documents-page_main-content_title_tab active hidden"
				data-data-type="personnelDocumentsChunks">
				Все
			</div>
			<div class="documents common-content_title_tab documents-page_main-content_title_tab hidden"
				data-data-type="personalDocsChunks">
				Личные
			</div>
			<div class="documents common-content_title_tab documents-page_main-content_title_tab hidden"
				data-data-type="lnaDocumentsChunks">
				ЛНА
			</div>
		</div>
		<div class="documents documents-page_main-content_title-right common-widget-title_right">
			<div class="documents documents-page_main-content_title_search common-content_title_search">
				<input type="text" placeholder="Поиск" class="documents documents-page_main-content_title_search-input title-search">
				<div class="documents common-content_title_search-input_img documents-page_main-content_title_search-input_img"
					onclick="<%= Scripts %>.expandSearch(this)">
					<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M14.4985 0H1.50178C0.169343 0 -0.502939 1.61659 0.441124 2.56065L5.5 7.62131V13C5.5 13.4721 5.72228 13.9167 6.1 14.25L8.1 15.7208C9.07728 16.4038 10.5 15.7689 10.5 14.5208V7.62131L15.5592 2.56065C16.5013 1.6185 15.8336 0 14.4985 0ZM9 7V14.5L7 13V7L1.5 1.5H14.5L9 7Z"
							fill="#5082E6"></path>
					</svg>
				</div>
				<div
					class="documents documents-page_main-content_title_search-extend common-content_title_search-extend">
					<div
						class="documents common-content_title_search-extend_title documents-page_main-content_title_search-extend_title">
						<h3 class="documents documents-page_main-content_title_search-extend_title-text">
							Расширенный поиск
						</h3>
						<div class="documents documents-page_main-content_title_search-extend_title-img common-content_title_search-extend_title-img"
							onclick="<%= Scripts %>.expandSearch(this)">
							<svg width="24" height="24" viewbox="0 0 24 24" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path
									d="M14.0823 12L18.7951 7.28732C19.0677 7.01477 19.0677 6.57246 18.7951 6.29946L17.7001 5.20442C17.4275 4.93186 16.9852 4.93186 16.7122 5.20442L11.9998 9.91753L7.28696 5.20486C7.01439 4.9323 6.57207 4.9323 6.29907 5.20486L5.20443 6.29946C4.93186 6.57202 4.93186 7.01433 5.20443 7.28732L9.91725 12L5.20443 16.7127C4.93186 16.9852 4.93186 17.4275 5.20443 17.7005L6.2995 18.7956C6.57207 19.0681 7.01439 19.0681 7.2874 18.7956L11.9998 14.0825L16.7126 18.7951C16.9852 19.0677 17.4275 19.0677 17.7005 18.7951L18.7956 17.7001C19.0681 17.4275 19.0681 16.9852 18.7956 16.7122L14.0823 12Z"
									fill="#BFBFBF"></path>
							</svg>
						</div>
					</div>
					<div
						class="documents documents-page_main-content_title_search-extend_content common-content_title_search-extend_content">
						<div
							class="documents common-content_title_search-extend_item tasks-page_main-content_title_search-extend_item">
							<div
								class="documents documents-page_main-content_title_search-extend_item-label common-content_title_search-extend_item-label">
								Наименование
							</div>
							<div
								class="documents documents-page_main-content_title_search-extend_item-value common-content_title_search-extend_item-value">
								<input oninput="<%= Scripts %>.setFilterField(this.dataset.filter, this.value)" type="text" class="documents-page_main-content_title_search-extend_input title-search documents-filter" data-filter="name">
							</div>
						</div>
						<div
							class="documents common-content_title_search-extend_item documents-page_main-content_title_search-extend_item">
							<div
								class="documents documents-page_main-content_title_search-extend_item-label common-content_title_search-extend_item-label">
								Дата создания
							</div>
							<div
								class="documents documents-page_main-content_title_search-extend_item-value task-search-date common-content_title_search-extend_item-value documents-search-date common_search-date">
								<div
									class="documents documents-page_main-content_title_search-extend_input-date common-content_title_search-extend_input-date task-search-date title-search">
									<div
										class="documents documents-page_main-content_title_search-extend_input-date-img common-content_title_search-extend_input-date-img">
										<svg width="17" height="16" viewBox="0 0 17 16" fill="none"
											xmlns="http://www.w3.org/2000/svg">
											<g clip-path="url(#clip0_2574_1093)">
												<path
													d="M14.9952 2H13.2809V0.375C13.2809 0.167906 13.089 0 12.8523 0H12.5666C12.3299 0 12.138 0.167906 12.138 0.375V2H5.2809V0.375C5.2809 0.167906 5.08901 0 4.85233 0H4.56662C4.32994 0 4.13804 0.167906 4.13804 0.375V2H2.42376C1.47697 2 0.709473 2.67156 0.709473 3.5V14.5C0.709473 15.3284 1.47697 16 2.42376 16H14.9952C15.942 16 16.7095 15.3284 16.7095 14.5V3.5C16.7095 2.67156 15.942 2 14.9952 2ZM2.42376 3H14.9952C15.3103 3 15.5666 3.22431 15.5666 3.5V5H1.85233V3.5C1.85233 3.22431 2.10869 3 2.42376 3ZM14.9952 15H2.42376C2.10869 15 1.85233 14.7757 1.85233 14.5V6H15.5666V14.5C15.5666 14.7757 15.3103 15 14.9952 15Z"
													fill="#8C8C8C"></path>
											</g>
											<defs>
												<clipPath id="clip0_2574_1093">
													<rect width="16" height="16" fill="white"
														transform="translate(0.709473)"></rect>
												</clipPath>
											</defs>
										</svg>
									</div>
									<input class="documents documents-page_main-content_title_search-extend_input-date-label common-content_title_search-extend_input-date-label documents-input documents-filter" placeholder="дд.мм.гггг" maxlength="10" pattern="^([120]{1}[0-9]{1}|3[01]{1,2}|0[1-9])\.(1[0-2]|0[1-9])\.\d{4}" oninput="<%= Scripts %>.checkAndSetDate(this)" data-filter="createdAt">
									<div class="documents documents-page_main-content_title_search-extend_input-date-arrow common-content_title_search-extend_input-date-arrow"
										onclick="<%= Scripts %>.expandCalendar(this)">
										<svg width="17" height="16" viewBox="0 0 17 16" fill="none"
											xmlns="http://www.w3.org/2000/svg">
											<path
												d="M8.44414 10.2156L4.81914 6.53439C4.67227 6.38751 4.67227 6.15001 4.81914 6.00314L5.04102 5.78126C5.18789 5.63439 5.42539 5.63439 5.57227 5.78126L8.70977 8.97814L11.8473 5.78439C11.9941 5.63751 12.2316 5.63751 12.3785 5.78439L12.6004 6.00626C12.7473 6.15314 12.7473 6.39064 12.6004 6.53751L8.97539 10.2188C8.82852 10.3625 8.59102 10.3625 8.44414 10.2156Z"
												fill="#8C8C8C"></path>
										</svg>
									</div>
								</div>
								<div
									class="documents documents-page_main-content_title_search-extend_item-value_calendar common-content_title_search-extend_item-value_calendar documents-calendar hidden vanilla-calendar vanilla-calendar_default">
								</div>
							</div>
						</div>
						<div
							class="documents common-content_title_search-extend_item tasks-page_main-content_title_search-extend_item">
							<div
								class="documents tasks-page_main-content_title_search-extend_item-label common-content_title_search-extend_item-label">
								Статус
							</div>
							<div
								class="documents tasks-page_main-content_title_search-extend_item-value common-content_title_search-extend_item-value">
								<div
									class="documents documents-page_main-content_title_search-extend_input-status expand-trigger">
									<input placeholder="Начните вводить текст для поиска" type="text" class="documents-page_main-content_title_search-extend_input-status_value title-search documents-filter" data-filter="statusCode" oninput="<%= Scripts %>.handleStatusSearch(this)">
									<div class="documents common-content_title_search-extend_input-status-arrow documents-page_main-content_title_search-extend_input-status-arrow"
										onclick="<%= Scripts %>.searchStatusExpand(this)">
										<svg width="17" height="16" viewBox="0 0 17 16" fill="none"
											xmlns="http://www.w3.org/2000/svg">
											<path
												d="M8.44414 10.2156L4.81914 6.53439C4.67227 6.38751 4.67227 6.15001 4.81914 6.00314L5.04102 5.78126C5.18789 5.63439 5.42539 5.63439 5.57227 5.78126L8.70977 8.97814L11.8473 5.78439C11.9941 5.63751 12.2316 5.63751 12.3785 5.78439L12.6004 6.00626C12.7473 6.15314 12.7473 6.39064 12.6004 6.53751L8.97539 10.2188C8.82852 10.3625 8.59102 10.3625 8.44414 10.2156Z"
												fill="#8C8C8C"></path>
										</svg>
									</div>
								</div>
								<div
									class="documents documents-page_main-content_title_search-extend_input-status-values documents-page_main-content_title_search-extend_input-status-values search-choice-items expandable">
									<!-- mock -->
									<!-- mock end -->
								</div>
							</div>
						</div>
					</div>
					<div
						class="documents documents-page_main-content_title_search-extend_footer common-content_title_search-extend_footer">
						<div
							class="documents documents-page_main-content_title_search-extend_footer-item common-content_title_tab documents-search active">
							Поиск
						</div>
						<div class="documents documents-page_main-content_title_search-extend_footer-item common-content_title_tab documents-reset"
							data-reset="documentsFilter">
							Сбросить фильтры
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="documents documents-page_main-content_table common-content_table">
		<div class="documents documents-page_main-content_table-title common-content_table-title">
			<div class="documents documents-page_main-content_table-item common-content_table-item">
				<div class="documents documents-page_main-content_table-item-section document-name">
					Наименования события
				</div>
				<div class="documents documents-page_main-content_table-item-section document-created">
					Дата создания
				</div>
				<div class="documents documents-page_main-content_table-item-section document-status">
					Статус
				</div>
			</div>
		</div>
		<div class="documents documents-page_main-content_table-content common-table-content">
			<!-- mock -->

			<!-- mock end -->
		</div>
	</div>
	<div class="documents documents-page_main-content_table-empty common-content_table-empty hidden">
		<h3 class="documents documents-page_main-content_table-empty_title">
			У Вас пока нет кадровых документов
		</h3>
	</div>
	<div class="documents documents-page_main-content_paginator content_paginator hidden"
		data-data-type="documents personnelDocumentsChunks">
		<div class="documents documents-page_main-content_paginator-prev prev-button paginator-button">
			‹
		</div>
		<div class="documents documents-page_main-content_paginator_item paginator-item" data-index="0" active="true">1
		</div>

		<div class="documents documents-page_main-content_paginator-next next-button paginator-button">
			›
		</div>
	</div>

	<div class="documents documents-page_main-content_mobile_footer common-content_mobile_footer hidden">
		<div
			class="documents documents-page_main-content_mobile_footer-item common-content_mobile_footer-item mobile-docs-expand">
			<svg width="26" height="6" viewbox="0 0 26 6" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.817383 1C1.30469 1 8.73616 3.84264 12.391 5.26396L25.1829 1" stroke="#E2E3E5"
					stroke-width="1.21827" stroke-linecap="round" stroke-linejoin="round" />
			</svg>

		</div>
		<div class="documents documents-page_main-content_mobile_footer-item common-content_mobile_footer-item task-item-title"
			data-data-type="personnelDocumentsChunks">
			Все
		</div>
		<div class="documents documents-page_main-content_mobile_footer-item common-content_mobile_footer-item task-item-title"
			data-data-type="personalDocsChunks">
			Личные
		</div>
		<div class="documents documents-page_main-content_mobile_footer-item common-content_mobile_footer-item task-item-title"
			data-data-type="lnaDocumentsChunks">
			ЛНА
		</div>
	</div>
</div>

<template class="documents tasks-page_main-content_table-item_template">
	<a class="documents tasks-page_main-content_table-item">
		<div class="documents tasks-page_main-content_table-item-section tasks-name">

		</div>
		<div class="documents tasks-page_main-content_table-item-section task-author">

		</div>
		<!-- <div class="tasks-page_main-content_table-item-section task-type">
            
        </div> -->
		<div class="documents tasks-page_main-content_table-item-section task-created">

		</div>
		<div class="documents tasks-page_main-content_table-item-section task-status">
			<div
				class="documents tasks-page_main-content_table-item-section_status common-content_table-item-section_status">

			</div>
		</div>
	</a>
</template>

<template class="documents tasks-page_main-content_mobile_container-item_template">
	<a class="documents tasks-page_main-content_mobile_container-item">
		<div
			class="documents tasks-page_main-content_mobile_container-item_status task-status tasks-page_main-content_table-item-section_status">

		</div>
		<div class="documents tasks-page_main-content_mobile_container-item_name tasks-name">

		</div>
	</a>
</template>

<template class="documents documents-page_main-content_table-item_template">
	<a href="" class="documents documents-page_main-content_table-item common-content_table-item">
		<div class="documents documents-page_main-content_table-item-section document-name">

		</div>
		<div class="documents documents-page_main-content_table-item-section document-created">

		</div>
		<div class="documents documents-page_main-content_table-item-section document-status">
			<div
				class="documents documents-page_main-content_table-item-section_status common-content_mobile_container-item_status">

			</div>
		</div>
	</a>
</template>

<template class="documents business_trips-page_main-content_table-item_template">
	<a href="" class="documents business_trips-page_main-content_table-item common-content_table-item">
		<div class="documents business_trips-page_main-content_table-item-section business_trips-name">

		</div>
		<div class="documents business_trips-page_main-content_table-item-section business_trips-start">

		</div>
		<div class="documents business_trips-page_main-content_table-item-section business_trips-end">

		</div>
		<div class="documents business_trips-page_main-content_table-item-section business_trips-status">
			<div
				class="documents business_trips-page_main-content_table-item-section_status common-content_mobile_container-item_status">

			</div>
		</div>
	</a>
</template>

<template class="documents vacations-page_main-content_table-item_template">
	<a href="" class="documents vacations-page_main-content_table-item common-content_table-item">
		<div class="documents vacations-page_main-content_table-item-section vacations-name">

		</div>
		<div class="documents vacations-page_main-content_table-item-section vacations-start">

		</div>
		<div class="documents vacations-page_main-content_table-item-section vacations-end">

		</div>
		<div class="documents vacations-page_main-content_table-item-section vacations-status">
			<div
				class="documents vacations-page_main-content_table-item-section_status common-content_mobile_container-item_status">

			</div>
		</div>
	</a>
</template>