<style>
    .portal-navbar {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        flex-basis: 30rem;
        position: sticky;
        top: 70px;
        padding-top: 1.35rem;
        margin: 0 16px;
    }

    @media screen and (max-width: 992px) {
        .portal-navbar {
            display: none !important;
        }
    }

    .portal-navbar__item {
        display: flex;
        gap: 1rem;
        font-size: 16px;
        font-weight: 400;
        padding: 14px 10px;
        border-radius: 8px;
        cursor: pointer;
        user-select: none;
        max-width: 30rem;
        position: relative;
    }

    .portal-navbar__item.active {
        font-weight: 600;
        background-color: #F5F6FA;
        pointer-events: none;
    }

    .portal-navbar__item:hover {
        text-decoration: none;
        color: #062543;
    }

    .portal-navbar__item .left-menu_item-label_text {
        color: black;
        margin: 0;
        padding: 0;
        font-family: 'SF Pro Display';
    }

    .portal-navbar__item .left-menu_item-counter {
        width: 2rem;
        right: 1rem;
        position: absolute;
        height: 2rem;
        color: #0055FF;
        font-weight: 600;
    }

    .portal-navbar__item .left-menu_item-icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .portal-navbar__item .left-menu_item-icon svg {
        fill: none !important;
    }

    .portal-navbar__item.active .left-menu_item-icon svg {
        stroke: #0055FF;
    }

    .portal-navbar__item.active .left-menu_item-icon svg path {
        stroke: #0055FF;
    }
</style>
<div class="portal-navbar">
    <% if (getNavigationItems()) { %>
        <%for(var item of getNavigationItems()) {%>
            <a class="portal-navbar__item" href="<%= item.url %>" data-menu-item="<%= item.code %>"
                onclick="<%= Scripts %>.setActive(this.getAttribute('href'))">
                <div class="left-menu_item-icon">
                    <%= item.icon %>
                </div>
                <div class="left-menu_item-label">
                    <p class="left-menu_item-label_text">
                        <%= item.name %>
                    </p>
                </div>
                <div class="left-menu_item-counter">
                    <%= item.text %>
                </div>
            </a>
            <%}%>
                <% } %>
</div>