<div data-menu-item="tasks" class="tasks-page_main-content active-page-item page-widget">
    <div class="dropdown-modal hidden" onclick="<%= Scripts %>.handleIssueDropdownModal(this)">

    </div>
    <!-- <div class="kedo-loader-wrapper" data-loader="tasks_container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" data-test="spinner" class="kedo-spinner">
            <path d="M13 3v-2c-2.7 0-5.4.9-7.7 2.8l-.8.7 1.4 1.4c2-1.9 4.5-2.9 7.1-2.9z" class="st0"></path>
            <path d="M5.9 5.9l-1.4-1.4c-2.3 2.3-3.5 5.4-3.5 8.5h2c0-2.6 1-5.1 2.9-7.1z" class="st1">
            </path>
            <path d="M3 13h-2c0 2.7.9 5.4 2.8 7.7l.7.8 1.4-1.4c-1.9-2-2.9-4.5-2.9-7.1z" class="st2">
            </path>
            <path d="M5.9 20.1l-1.4 1.4c2.3 2.3 5.4 3.5 8.5 3.5v-2c-2.6 0-5.1-1-7.1-2.9z" class="st3"></path>
            <path d="M20.1 5.9l1.4-1.4c-2.3-2.3-5.4-3.5-8.5-3.5v2c2.6 0 5.1 1 7.1 2.9z" class="st4">
            </path>
            <path d="M23 13h2c0-2.7-.9-5.4-2.8-7.7l-.7-.8-1.4 1.4c1.9 2 2.9 4.5 2.9 7.1z" class="st5"></path>
            <path d="M20.1 20.1l1.4 1.4c2.3-2.3 3.5-5.4 3.5-8.5h-2c0 2.6-1 5.1-2.9 7.1z" class="st6"></path>
            <path d="M20.7 22.2l.8-.7-1.4-1.4c-2 2-4.5 2.9-7.1 2.9v2c2.7 0 5.4-.9 7.7-2.8z" class="st7"></path>
        </svg>
    </div> -->
    <div class="tasks-page_main-content_title">
        <div class="tasks-page_main-content_title-left">
            <h3 class="tasks-page_main-content_title_text">
                Задачи
            </h3>
            <div onclick="<%= Scripts %>.handleTasksType(this, 'main')" class="tasks-page_main-content_title_tab active" data-button_type="main" data-task_type="active">
                Входящие
            </div>
            <div onclick="<%= Scripts %>.handleTasksType(this, 'main')" class="tasks-page_main-content_title_tab" data-button_type="main" data-task_type="outgoing">
                Исходящие
            </div>
            <div class="tasks-page_main-content_title_tab hidden chief-component subordinate-switch"
                data-data-type="subordinateTasks">
                Отдел
            </div>
            <div class="tasks-page_main-content_title_tab hidden">
                Замещение
            </div>
            <svg onclick="<%= Scripts %>.getData()" class="tasks-refresh-svg" width="20" height="20" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_3344_2148)">
                    <path d="M23.4844 0.375011H22.1854C21.8695 0.375011 21.6156 0.635074 21.6231 0.950918L21.7331 5.57129C19.6442 2.42973 16.0682 0.362355 12.0097 0.375058C5.61658 0.395074 0.411905 5.62543 0.421889 12.0186C0.431921 18.4304 5.63275 23.625 12.0469 23.625C15.0434 23.625 17.7751 22.4912 19.8365 20.6293C20.0762 20.4129 20.0875 20.0405 19.8591 19.8122L18.9339 18.8869C18.723 18.6761 18.3829 18.6626 18.1604 18.8611C16.5369 20.3084 14.3956 21.1875 12.0469 21.1875C6.9693 21.1875 2.85939 17.0784 2.85939 12C2.85939 6.92242 6.96855 2.81251 12.0469 2.81251C15.7756 2.81251 18.9816 5.02886 20.4223 8.21729L14.4978 8.07625C14.182 8.06875 13.9219 8.32267 13.9219 8.63861V9.93751C13.9219 10.2482 14.1737 10.5 14.4844 10.5H23.4844C23.795 10.5 24.0469 10.2482 24.0469 9.93751V0.937511C24.0469 0.626871 23.795 0.375011 23.4844 0.375011Z" fill="#05f"/>
                </g>
                <defs>
                    <clipPath id="clip0_3344_2148">
                        <rect width="24" height="24" fill="white" transform="translate(0.046875)"/>
                    </clipPath>
                </defs>
            </svg>
            <div class="tasks-page_main-content_title-left_subordinate-path hidden">
                <div class="subordinate-path_sub"></div>
                <div class="right-arrow">
                    &#8250;
                </div>
                <div class="subordinate-path_user"></div>
            </div>
        </div>
        <div class="tasks-page_main-content_title-right">
            <div class="tasks-page_main-content_title_search">
                <input type="text" placeholder="Поиск" class="tasks-page_main-content_title_search-input title-search">
                <div class="tasks-page_main-content_title_search-input_img" onclick="<%= Scripts %>.expandSearch(this)">
                    <svg width="16" height="16" viewbox="0 0 16 16" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M14.4985 0H1.50178C0.169343 0 -0.502939 1.61659 0.441124 2.56065L5.5 7.62131V13C5.5 13.4721 5.72228 13.9167 6.1 14.25L8.1 15.7208C9.07728 16.4038 10.5 15.7689 10.5 14.5208V7.62131L15.5592 2.56065C16.5013 1.6185 15.8336 0 14.4985 0ZM9 7V14.5L7 13V7L1.5 1.5H14.5L9 7Z"
                            fill="#5082E6" />
                    </svg>
                </div>
                <div class="common-content_title_search-extend tasks-page_main-content_title_search-extend">
                    <div class="tasks-page_main-content_title_search-extend_title">
                        <h3 class="tasks-page_main-content_title_search-extend_title-text">
                            Расширенный поиск
                        </h3>
                        <div class="tasks-page_main-content_title_search-extend_title-img common-content_title_search-extend_title-img"
                            onclick="<%= Scripts %>.expandSearch(this)">
                            <svg width="24" height="24" viewbox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.0823 12L18.7951 7.28732C19.0677 7.01477 19.0677 6.57246 18.7951 6.29946L17.7001 5.20442C17.4275 4.93186 16.9852 4.93186 16.7122 5.20442L11.9998 9.91753L7.28696 5.20486C7.01439 4.9323 6.57207 4.9323 6.29907 5.20486L5.20443 6.29946C4.93186 6.57202 4.93186 7.01433 5.20443 7.28732L9.91725 12L5.20443 16.7127C4.93186 16.9852 4.93186 17.4275 5.20443 17.7005L6.2995 18.7956C6.57207 19.0681 7.01439 19.0681 7.2874 18.7956L11.9998 14.0825L16.7126 18.7951C16.9852 19.0677 17.4275 19.0677 17.7005 18.7951L18.7956 17.7001C19.0681 17.4275 19.0681 16.9852 18.7956 16.7122L14.0823 12Z"
                                    fill="#BFBFBF" />
                            </svg>

                        </div>
                    </div>
                    <div class="tasks-page_main-content_title_search-extend_content">
                        <div class="tasks-page_main-content_title_search-extend_item">
                            <div class="tasks-page_main-content_title_search-extend_item-label">
                                Наименование
                            </div>
                            <div class="tasks-page_main-content_title_search-extend_item-value">
                                <input oninput="<%= Scripts %>.setFilterField(this.dataset.filter, this.value)" type="text" class="tasks-page_main-content_title_search-extend_input title-search task-filter" data-filter="name">
                            </div>
                        </div>
                        <div class="tasks-page_main-content_title_search-extend_item">
                            <div class="tasks-page_main-content_title_search-extend_item-label">
                                Дата создания
                            </div>
                            <div
                                class="tasks-page_main-content_title_search-extend_item-value task-search-date">
                                <div
                                    class="tasks-page_main-content_title_search-extend_input-date title-search">
                                    <div class="tasks-page_main-content_title_search-extend_input-date-img">
                                        <svg width="17" height="16" viewbox="0 0 17 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_2574_1093)">
                                                <path
                                                    d="M14.9952 2H13.2809V0.375C13.2809 0.167906 13.089 0 12.8523 0H12.5666C12.3299 0 12.138 0.167906 12.138 0.375V2H5.2809V0.375C5.2809 0.167906 5.08901 0 4.85233 0H4.56662C4.32994 0 4.13804 0.167906 4.13804 0.375V2H2.42376C1.47697 2 0.709473 2.67156 0.709473 3.5V14.5C0.709473 15.3284 1.47697 16 2.42376 16H14.9952C15.942 16 16.7095 15.3284 16.7095 14.5V3.5C16.7095 2.67156 15.942 2 14.9952 2ZM2.42376 3H14.9952C15.3103 3 15.5666 3.22431 15.5666 3.5V5H1.85233V3.5C1.85233 3.22431 2.10869 3 2.42376 3ZM14.9952 15H2.42376C2.10869 15 1.85233 14.7757 1.85233 14.5V6H15.5666V14.5C15.5666 14.7757 15.3103 15 14.9952 15Z"
                                                    fill="#8C8C8C" />
                                            </g>
                                            <defs>
                                                <clippath id="clip0_2574_1093">
                                                    <rect width="16" height="16" fill="white"
                                                        transform="translate(0.709473)" />
                                                </clippath>
                                            </defs>
                                        </svg>

                                    </div>
                                    <input class="tasks-page_main-content_title_search-extend_input-date-label created-at-input task-filter" data-filter="created_at" placeholder="дд.мм.гггг" maxlength="10" pattern="^([120]{1}[0-9]{1}|3[01]{1,2}|0[1-9])\.(1[0-2]|0[1-9])\.\d{4}"oninput="<%= Scripts %>.checkAndSetDate(this)">
                                    <div class="tasks-page_main-content_title_search-extend_input-date-arrow"
                                        onclick="<%= Scripts %>.expandCalendar(this)">
                                        <svg width="17" height="16" viewbox="0 0 17 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M8.44414 10.2156L4.81914 6.53439C4.67227 6.38751 4.67227 6.15001 4.81914 6.00314L5.04102 5.78126C5.18789 5.63439 5.42539 5.63439 5.57227 5.78126L8.70977 8.97814L11.8473 5.78439C11.9941 5.63751 12.2316 5.63751 12.3785 5.78439L12.6004 6.00626C12.7473 6.15314 12.7473 6.39064 12.6004 6.53751L8.97539 10.2188C8.82852 10.3625 8.59102 10.3625 8.44414 10.2156Z"
                                                fill="#8C8C8C" />
                                        </svg>
                                    </div>
                                </div>
                                <div
                                    class="tasks-page_main-content_title_search-extend_item-value_calendar created-at-calendar hidden">
                                </div>
                            </div>
                        </div>
                        <div class="tasks-page_main-content_title_search-extend_item">
                            <div class="tasks-page_main-content_title_search-extend_item-label">
                                Сделать до
                            </div>
                            <div
                                class="tasks-page_main-content_title_search-extend_item-value task-search-date">
                                <div
                                    class="tasks-page_main-content_title_search-extend_input-date title-search">
                                    <div class="tasks-page_main-content_title_search-extend_input-date-img">
                                        <svg width="17" height="16" viewbox="0 0 17 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_2574_1093)">
                                                <path
                                                    d="M14.9952 2H13.2809V0.375C13.2809 0.167906 13.089 0 12.8523 0H12.5666C12.3299 0 12.138 0.167906 12.138 0.375V2H5.2809V0.375C5.2809 0.167906 5.08901 0 4.85233 0H4.56662C4.32994 0 4.13804 0.167906 4.13804 0.375V2H2.42376C1.47697 2 0.709473 2.67156 0.709473 3.5V14.5C0.709473 15.3284 1.47697 16 2.42376 16H14.9952C15.942 16 16.7095 15.3284 16.7095 14.5V3.5C16.7095 2.67156 15.942 2 14.9952 2ZM2.42376 3H14.9952C15.3103 3 15.5666 3.22431 15.5666 3.5V5H1.85233V3.5C1.85233 3.22431 2.10869 3 2.42376 3ZM14.9952 15H2.42376C2.10869 15 1.85233 14.7757 1.85233 14.5V6H15.5666V14.5C15.5666 14.7757 15.3103 15 14.9952 15Z"
                                                    fill="#8C8C8C" />
                                            </g>
                                            <defs>
                                                <clippath>
                                                    <rect width="16" height="16" fill="white"
                                                        transform="translate(0.709473)" />
                                                </clippath>
                                            </defs>
                                        </svg>
                                    </div>
                                    <input class="tasks-page_main-content_title_search-extend_input-date-label valid-to-input task-filter" data-filter="due_date" placeholder="дд.мм.гггг" maxlength="10" pattern="^([120]{1}[0-9]{1}|3[01]{1,2}|0[1-9])\.(1[0-2]|0[1-9])\.\d{4}" oninput="<%= Scripts %>.checkAndSetDate(this)">
                                    <div class="tasks-page_main-content_title_search-extend_input-date-arrow"
                                        onclick="<%= Scripts %>.expandCalendar(this)">
                                        <svg width="17" height="16" viewbox="0 0 17 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M8.44414 10.2156L4.81914 6.53439C4.67227 6.38751 4.67227 6.15001 4.81914 6.00314L5.04102 5.78126C5.18789 5.63439 5.42539 5.63439 5.57227 5.78126L8.70977 8.97814L11.8473 5.78439C11.9941 5.63751 12.2316 5.63751 12.3785 5.78439L12.6004 6.00626C12.7473 6.15314 12.7473 6.39064 12.6004 6.53751L8.97539 10.2188C8.82852 10.3625 8.59102 10.3625 8.44414 10.2156Z"
                                                fill="#8C8C8C" />
                                        </svg>
                                    </div>
                                </div>
                                <div
                                    class="tasks-page_main-content_title_search-extend_item-value_calendar valid-to-calendar hidden">
                                </div>
                            </div>
                        </div>
                        <!-- <div class="tasks-page_main-content_title_search-extend_item">
                            <div class="tasks-page_main-content_title_search-extend_item-label">
                                Статус
                            </div>
                            <div class="tasks-page_main-content_title_search-extend_item-value">
                                <div class="tasks-page_main-content_title_search-extend_input-status expand-trigger">
                                    <input placeholder="Начните вводить текст для поиска" type="text" class="tasks-page_main-content_title_search-extend_input-status_value title-search task-filter" data-filter="statusCode" oninput="handleStatusSearch(this)">
                                    <div class="common-content_title_search-extend_input-status-arrow tasks-page_main-content_title_search-extend_input-status-arrow" onclick="searchStatusExpand(this)">
                                        <svg width="17" height="16" viewbox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M8.44414 10.2156L4.81914 6.53439C4.67227 6.38751 4.67227 6.15001 4.81914 6.00314L5.04102 5.78126C5.18789 5.63439 5.42539 5.63439 5.57227 5.78126L8.70977 8.97814L11.8473 5.78439C11.9941 5.63751 12.2316 5.63751 12.3785 5.78439L12.6004 6.00626C12.7473 6.15314 12.7473 6.39064 12.6004 6.53751L8.97539 10.2188C8.82852 10.3625 8.59102 10.3625 8.44414 10.2156Z" fill="#8C8C8C"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="tasks-page_main-content_title_search-extend_input-status-values search-choice-items expandable">

                                </div>
                            </div>
                        </div> -->
                        <div class="tasks-page_main-content_title_search-extend_item">
                            <div class="tasks-page_main-content_title_search-extend_item-label">
                                Автор
                            </div>
                            <div class="tasks-page_main-content_title_search-extend_item-value">
                                <div class="tasks-page_main-content_title_search-extend_input-author">
                                    <input type="text" class="tasks-page_main-content_title_search-extend_input-author_value title-search task-filter" data-filter="user_id" oninput="<%= Scripts %>.handleAuthorSearch(this)">
                                    <div class="tasks-page_main-content_title_search-extend_input-author-img"
                                        onclick="<%= Scripts %>.expandAuthorContainer(this, true)">
                                        <svg width="17" height="16" viewbox="0 0 17 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_2574_1160)">
                                                <path
                                                    d="M16.6001 15.05L12.5688 11.0188C12.497 10.9469 12.4032 10.9094 12.3032 10.9094H11.9813C13.0532 9.75 13.7095 8.20312 13.7095 6.5C13.7095 2.90937 10.8001 0 7.20947 0C3.61885 0 0.709473 2.90937 0.709473 6.5C0.709473 10.0906 3.61885 13 7.20947 13C8.9126 13 10.4595 12.3438 11.6188 11.275V11.5938C11.6188 11.6938 11.6595 11.7875 11.7282 11.8594L15.7595 15.8906C15.9063 16.0375 16.1438 16.0375 16.2907 15.8906L16.6001 15.5813C16.747 15.4344 16.747 15.1969 16.6001 15.05ZM7.20947 12C4.16885 12 1.70947 9.54062 1.70947 6.5C1.70947 3.45937 4.16885 1 7.20947 1C10.2501 1 12.7095 3.45937 12.7095 6.5C12.7095 9.54062 10.2501 12 7.20947 12Z"
                                                    fill="#8C8C8C" />
                                            </g>
                                            <defs>
                                                <clippath id="clip0_2574_1160">
                                                    <rect width="16" height="16" fill="white"
                                                        transform="translate(0.709473)" />
                                                </clippath>
                                            </defs>
                                        </svg>
                                    </div>
                                    <div
                                        class="tasks-page_main-content_title_search-extend_input-author-values search-choice-items expandable ">
                                        <!-- mock -->

                                        <!-- mock end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tasks-page_main-content_title_search-extend_footer">
                        <div onclick="<%= Scripts %>.expandSearch(this)"
                            class="tasks-page_main-content_title_search-extend_footer-item tasks-page_main-content_title_tab tasks-search active">
                            Поиск
                        </div>
                        <div onclick="<%= Scripts %>.clearFilters()" class="tasks-page_main-content_title_search-extend_footer-item tasks-page_main-content_title_tab tasks-reset"
                            data-reset="tasksFilter">
                            Сбросить фильтры
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tasks-page_main-content_task-types">
        <div onclick="<%= Scripts %>.handleTasksType(this, 'sub')" class="tasks-page_main-content_title_tab task-list-type active"
            data-task_type="active" data-button_type="sub">
            Текущие
        </div>
        <div onclick="<%= Scripts %>.handleTasksType(this, 'sub')" class="tasks-page_main-content_title_tab task-list-type"
            data-task_type="all" data-button_type="sub">
            Все
        </div>
    </div>
    <div class="tasks-page_main-content_table">
        <div class="kedo-loader-wrapper hidden" data-loader="tasks_table">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" data-test="spinner" class="kedo-spinner">
                <path d="M13 3v-2c-2.7 0-5.4.9-7.7 2.8l-.8.7 1.4 1.4c2-1.9 4.5-2.9 7.1-2.9z" class="st0"></path>
                <path d="M5.9 5.9l-1.4-1.4c-2.3 2.3-3.5 5.4-3.5 8.5h2c0-2.6 1-5.1 2.9-7.1z" class="st1">
                </path>
                <path d="M3 13h-2c0 2.7.9 5.4 2.8 7.7l.7.8 1.4-1.4c-1.9-2-2.9-4.5-2.9-7.1z" class="st2">
                </path>
                <path d="M5.9 20.1l-1.4 1.4c2.3 2.3 5.4 3.5 8.5 3.5v-2c-2.6 0-5.1-1-7.1-2.9z" class="st3"></path>
                <path d="M20.1 5.9l1.4-1.4c-2.3-2.3-5.4-3.5-8.5-3.5v2c2.6 0 5.1 1 7.1 2.9z" class="st4">
                </path>
                <path d="M23 13h2c0-2.7-.9-5.4-2.8-7.7l-.7-.8-1.4 1.4c1.9 2 2.9 4.5 2.9 7.1z" class="st5"></path>
                <path d="M20.1 20.1l1.4 1.4c2.3-2.3 3.5-5.4 3.5-8.5h-2c0 2.6-1 5.1-2.9 7.1z" class="st6"></path>
                <path d="M20.7 22.2l.8-.7-1.4-1.4c-2 2-4.5 2.9-7.1 2.9v2c2.7 0 5.4-.9 7.7-2.8z" class="st7"></path>
            </svg>
        </div>
        <div class="tasks-page_main-content_table-title">
            <div class="tasks-page_main-content_table-item">
                <div class="tasks-page_main-content_table-item-section tasks-name">
                    Название задачи
                </div>
                <div class="tasks-page_main-content_table-item-section task-author">
                    Автор
                </div>
                <!-- <div class="tasks-page_main-content_table-item-section task-type">
                    Тип документа
                </div> -->
                <div class="tasks-page_main-content_table-item-section task-created">
                    Сделать до
                </div>
                <div class="tasks-page_main-content_table-item-section task-status">
                    Статус
                </div>
            </div>
        </div>
        <div class="tasks-page_main-content_table-content common-table-content">
            <!-- mock -->

            <!-- mock end -->
        </div>
    </div>
    <div class="tasks-page_main-content_table-content_subordinate table-content hidden">
        <div class="tasks-page_main-content_table-title">
            <div class="tasks-page_main-content_table-item">
                <div class="tasks-page_main-content_table-item-section task-staff">
                    Сотрудник
                </div>
                <div class="tasks-page_main-content_table-item-section task-subdivision">
                    Отдел
                </div>
                <div class="tasks-page_main-content_table-item-section task-count">
                    Всего задач
                </div>
                <div class="tasks-page_main-content_table-item-section task-user-status">
                    Статус
                </div>
            </div>
        </div>
        <div class="tasks-page_main-content_table_subordinate common-table-content">
            <!-- mock -->

            <!-- mock end -->
        </div>
    </div>
    <div class="tasks-page_main-content_table-empty hidden">
        <h3 class="tasks-page_main-content_table-empty_title">
            Задачи отсутствуют
        </h3>
    </div>
    <div class="tasks-page_main-content_paginator content_paginator">
        
    </div>
</div>

<template class="tasks-page_main-content_table-item_template">
    <a class="tasks-page_main-content_table-item">
        <div class="tasks-page_main-content_table-item-section tasks-name">
            
        </div>
        <div class="tasks-page_main-content_table-item-section task-author">
            
        </div>
        <div class="tasks-page_main-content_table-item-section task-created">
            
        </div>
        <div class="tasks-page_main-content_table-item-section task-status">
            <div class="tasks-page_main-content_table-item-section_status common-content_table-item-section_status">
                
            </div>
        </div>
    </a>
</template>

<template class="tasks-page_main-content_table-item_subordinate_template">
    <div class="tasks-page_main-content_table-item">
        <div class="tasks-page_main-content_table-item-section task-staff">
            <div class="task-staff_img">
                <img alt="" class="staff-avatar">
            </div>
            <div class="task-staff_name">
                
            </div>
        </div>
        <div class="tasks-page_main-content_table-item-section task-subdivision">
            
        </div>
        <div class="tasks-page_main-content_table-item-section task-count">
            
        </div>
        <div class="tasks-page_main-content_table-item-section task-user-status">
            <div class="tasks-page_main-content_table-item-section_status">
                <div class="tasks-page_main-content_table-item-section_status">
                    
                </div>
            </div>
        </div>
    </div>
</template>