<% if (ViewContext.data.connection_list && ViewContext.data.connection_list.length > 0) { %>

<table class="table">
    <thead>
        <th>Название</th>
        <th>URL</th>
        <th>Логин</th>
        <th></th>
    </thead>

    <tbody>
        <% for (const connection of ViewContext.data.connection_list) { %>
            <%= rowContent(connection) %>
        <% } %>
    </tbody>
</table>

<div>
    <button onclick="<%-Scripts%>.openAddBaseModal()">+ Добавить базу</button>
</div>

<% } %>

<% $template rowContent(connection) %>
    <tr>
        <td><%= connection.name %></td>
        <td><%= connection.url %></td>
        <td><%= connection.login %></td>
        <td>
            <div class="kedo-module__item-control-icons kedo-module__item-delete-icon" onclick="<%-Scripts%>.removeConnectionOnClick('<%= connection.url%>')">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 512 512" xml:space="preserve">
                <g>
                <path d="M85.3,106.7V128h320v341.3H106.7l0-362.7H85.3V128V106.7H64V512h384V85.3H64v21.3H85.3z M21.3,128h469.3V85.3H21.3V128z
                    M192,21.3v21.3h106.7v42.7h-85.3l0-64H192v21.3V21.3h-21.3V128h170.7V0H170.7v21.3H192z M192,21.3v21.3h106.7v42.7h-85.3l0-64H192
                    v21.3V21.3h-21.3V128h170.7V0H170.7v21.3H192z M298.7,192v213.3h42.7V192H298.7z M170.7,192v213.3h42.7V192H170.7z"/>
                </g>
                </svg>
            </div>
        </td>
    </tr>
<% $endtemplate %> 

<style>
    .kedo-module__item-delete-icon {
        width: 20px;
        height: 20px;
        margin-bottom: 5px;
    }

    .kedo-module__item-control-icons {
        height: 20px;
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 4px;
        cursor: pointer;
    }

    .kedo-module__item-control-icons:hover, 
    .kedo-module__item-control-icons:focus,
    .kedo-module__item-control-icons:active {
        background-color: rgba(35, 49, 84, 0.2);
    }
    .kedo-module__item-delete-icon path {
        color: #D4380D;
    }
</style>