<% if (!ViewContext.data.connection_list || ViewContext.data.connection_list.length == 0) { %>
    <div class="kedo-add-area">
        <div class="content-container">
            <div class="button-container" onclick="<%-Scripts%>.openAddBaseModal()">Добавить базу</div>
        </div>
    </div>
<% } %>

<style>
    .button-container {
        border: 1px solid #1e6599;
        border-radius : .4rem;
        padding: 7px 14px;
        color: #1e6599;
        transition: background .15s linear,box-shadow .15s linear;
    }

    .button-container:hover {
        cursor: pointer;
        border-color: #367eb2;
        color: #367eb2;
        text-decoration: none;
        transition: none;
    }

    .kedo-add-area {
        display: flex;
        align-items: center;
        border-radius: 0.6rem;
        border: 2px dashed #f0f0f0;
        justify-content: center;

        min-height: 120px;

        margin: 0;
        padding: 0;
    }
</style>