<!-- В зависимости от того, было выбрано приложение или нет, будем отображать текст "Выбрать приложение" -->
<!-- или название выбранного приложения. Оба текста кликабельны и открывают модальное окно для выбора приложения. -->

<% if (!Context.data.app_name) { %>
    <% if (Context.data.skip_print_form == false) { %>
        <p class="custom-p-link" onclick="<%- Scripts%>.openModal()">Выбрать приложение</p>
    <% } else { %>
        <p class="disabled">Выбрать приложение</p>
    <% } %>
<% } else { %>
    <% if (Context.data.skip_print_form == false) { %>
        <p class="custom-p-link" onclick="<%- Scripts%>.openModal()"><%= Context.data.app_name %></p>
    <% } else { %>
        <p class="disabled"><%= Context.data.app_name %></p>
    <% } %>
<% } %>

<style>
    .custom-p-link {
        cursor: pointer;
        color: #1e6599;
    }

    .disabled {
        color: grey;
        cursor: cursor;
    }

    .custom-p-link:hover {
        cursor: pointer;
        color: #1e6599;
        text-decoration: underline;
    }
</style>