<% if (Context.data.show_vacation_variants) { %>    
    <app-dynamic-form-row _nghost-snr-c169="">
        <elma-form-row _ngcontent-ftt-c169="" _nghost-ftt-c193="" class="elma-form-row ng-untouched ng-pristine ng-valid">
            <elma-form-label _ngcontent-ftt-c193="" _nghost-ftt-c192="" class="elma-form-label">
                <span _ngcontent-ftt-c192="" class="labelName">
                    Виды отсутствия
                </span>
            </elma-form-label>
            <elma-form-control _ngcontent-wxm-c193="" _nghost-wxm-c191="" class="elma-form-control text-base">
                <div class="button-wrapper">
                    <button class="show-types">
                        <span class="dropdown-arrow">

                        </span>
                    </button>
                    <div class="hidden-types">
                            <div class="vacation-variant">
                                <div class="vacation-variant__label">
                                    Без сохранения заработной платы
                                </div>
                                <input type="checkbox" class="vacation-variant__checkbox"  data-variant="unpaid">
                                <div class="flag">
                                </div>
                            </div>
                            <div class="vacation-variant">
                                <div class="vacation-variant__label">
                                    Больничный
                                </div>
                                <input type="checkbox" class="vacation-variant__checkbox" data-variant="sick_leave">
                                <div class="flag">
                                </div>
                            </div>
                            <div class="vacation-variant">
                                <div class="vacation-variant__label">
                                    По графику отпусков
                                </div>
                                <input type="checkbox" class="vacation-variant__checkbox" data-variant="scheduled">
                                <div class="flag">
                                </div>
                            </div>
                            <div class="vacation-variant">
                                <div class="vacation-variant__label">
                                    Дополнительный отдых
                                </div>
                                <input type="checkbox" class="vacation-variant__checkbox" data-variant="additional">
                                <div class="flag">
                                </div>
                            </div>
                            <div class="vacation-variant">
                                <div class="vacation-variant__label">
                                    По беременности и родам
                                </div>
                                <input type="checkbox" class="vacation-variant__checkbox" data-variant="pregnancy">
                                <div class="flag">
                                </div>
                            </div>
                            <div class="vacation-variant">
                                <div class="vacation-variant__label">
                                    По уходу за ребенком
                                </div>
                                <input type="checkbox" class="vacation-variant__checkbox" data-variant="child_care">
                                <div class="flag">
                                </div>
                            </div>
                            <div class="vacation-variant">
                                <div class="vacation-variant__label">
                                    По учёбе
                                </div>
                                <input type="checkbox" class="vacation-variant__checkbox" data-variant="study">
                                <div class="flag">
                                </div>
                            </div>
                            <div class="vacation-variant">
                                <div class="vacation-variant__label">
                                    Ежегодный оплачиваемый отпуск
                                </div>
                                <input type="checkbox" class="vacation-variant__checkbox" data-variant="basic">
                                <div class="flag">
                                </div>
                            </div>
                            <div class="vacation-variant">
                                <div class="vacation-variant__label">
                                    Исполнение гос. обязанностей
                                </div>
                                <input type="checkbox" class="vacation-variant__checkbox" data-variant="duty">
                                <div class="flag">
                                </div>
                            </div>
                            <div class="vacation-variant">
                                <div class="vacation-variant__label">
                                    Уход за детьми-инвалидами
                                </div>
                                <input type="checkbox" class="vacation-variant__checkbox" data-variant="invalid_child">
                                <div class="flag">
                                </div>
                            </div>
                            <div class="vacation-variant">
                                <div class="vacation-variant__label">
                                    Сдача крови
                                </div>
                                <input type="checkbox" class="vacation-variant__checkbox" data-variant="blood_donation">
                                <div class="flag">
                                </div>
                            </div>
                            <% if (!Context.data.vacations_exists) { %>
                                <div class="vacation-variant">
                                    <div class="vacation-variant__label">
                                        Без сохранения заработной платы
                                    </div>
                                    <input type="checkbox" class="vacation-variant__checkbox"  data-variant="application_for_leave_without_pay">
                                    <div class="flag">
                                    </div>
                                </div>
                                <div class="vacation-variant">
                                    <div class="vacation-variant__label">
                                        Ежегодный оплачиваемый отпуск
                                    </div>
                                    <input type="checkbox" class="vacation-variant__checkbox" data-variant="paid_leave">
                                    <div class="flag">
                                    </div>
                                </div>
                            <% } %>
                    </div>
                </div>
            </elma-form-control>
        </elma-form-row>
    </app-dynamic-form-row>
<% } %>
    <script>
        var dropdown = document.querySelector(".hidden-types");
        var showButton = document.querySelector(".show-types");
        var variantLabels = document.querySelectorAll(".vacation-variant");
        var variantCheckboxes = document.querySelectorAll(".vacation-variant__checkbox");
        var restrictVariants = [
            "vacation-variant",
            "vacation-variant__label",
            "vacation-variant__checkbox",
            "flag"
        ];


        function showVariants(e) {
            console.log("showVariants")
            if (dropdown.classList.contains("expand")) {
                variantCheckboxes.forEach(variant => variant.style.display = "none")
                showButton.style.border = ""
                showButton.style.boxShadow = ""
                dropdown.classList.remove("expand")
            } else {
                variantCheckboxes.forEach(variant => variant.style.display = "block")
                showButton.style.border = "1px solid #1e6599"
                showButton.style.boxShadow = "0px 0px 3px 1px rgb(66 136 186)"
                dropdown.classList.add("expand")
            }
        };
        
        function hideVariants(e) {
            console.log("hideVariants")
            if (e.target != showButton && !restrictVariants.includes(e.target.className)) {
                variantCheckboxes.forEach(variant => variant.style.display = "none")
                showButton.style.border = ""
                showButton.style.boxShadow = ""
                dropdown.classList.remove("expand")
            }
        }

        if (variantCheckboxes) {
            variantCheckboxes.forEach(el => el.addEventListener("click", <%= Scripts%>.addVacationType));
        };
        if (showButton) {
            showButton.addEventListener("click", showVariants);
        };
    </script>