<div class="goskey-step">
    <br>
    <p class="step-label">
        1. Привяжите подтвержденный аккаунт Госуслуг и примите лицензионное соглашение
    </p>
    <img class="step-img" src="<%= UI.widget.filePath %>/1.png"/>
</div>
<div class="goskey-step">
    <br>
    <p class="step-label">
        2. Установите надежный пароль для защиты ваших данных
    </p>
    <img class="step-img" src="<%= UI.widget.filePath %>/2.png"/>
</div>
<div class="goskey-step">
    <br>
    <p class="step-label">
        3. Ознакомьтесь с сертификатом и подтвердите корректность ваших данных
    </p>
    <img class="step-img" src="<%= UI.widget.filePath %>/3.png"/>
</div>
<div class="goskey-step">
    <br>
    <p class="step-label">
        4. Подпишите документы в приложении.
    </p>
    <img class="step-img" src="<%= UI.widget.filePath %>/4.png"/>
</div>

<div class="mobile-type">
    <br>
    <%= UI.widget.groupbox({title: "1. Привяжите подтвержденный аккаунт Госуслуг и примите лицензионное соглашение", styleEnum: [{"code":"default","name":"Default"}], collapsible: true, expanded: false}, mobile1) %>
    <% $template mobile1 %>
        <img class="step-img" src="<%= UI.widget.filePath %>/1_mobile.png"/>
    <% $endtemplate %>
    
    <br>
    <%= UI.widget.groupbox({title: "2. Установите надежный пароль для защиты ваших данных", styleEnum: [{"code":"default","name":"Default"}], collapsible: true, expanded: false}, mobile2) %>
    <% $template mobile2 %>
        <img class="step-img" src="<%= UI.widget.filePath %>/2_mobile.png"/>
    <% $endtemplate %>
    
    <br>
    <%= UI.widget.groupbox({title: "3. Ознакомьтесь с сертификатом и подтвердите корректность ваших данных", styleEnum: [{"code":"default","name":"Default"}], collapsible: true, expanded: false}, mobile3) %>
    <% $template mobile3 %>
        <img class="step-img" src="<%= UI.widget.filePath %>/3_mobile.png"/>
    <% $endtemplate %>

    <br>
    <%= UI.widget.groupbox({title: "4. Подпишите документы в приложении", styleEnum: [{"code":"default","name":"Default"}], collapsible: true, expanded: false}, mobile4) %>
    <% $template mobile4 %>
        <img class="step-img" src="<%= UI.widget.filePath %>/4_mobile.png"/>
    <% $endtemplate %>
</div>