
<div class="ui-teml" style="display: none;width: 900px">
        <div id="step-1-0">
                <%= UI.widget.contextRow("surname", {required: true, onChange: () => Scripts.validate("step-1-0", enableNextButton)}) %>
                <%= UI.widget.contextRow("name", {required: true, onChange: () => Scripts.validate("step-1-0", enableNextButton)}) %>
                <%= UI.widget.contextRow("patronymic", {required: false, onChange: () => Scripts.validate("step-1-0", enableNextButton)}) %>
                <%= UI.widget.contextRow("date_of_birth", {required: true, onChange: () => Scripts.validate("step-1-0", enableNextButton)}) %>
                <%= UI.widget.contextRow("gender", {required: true, onChange: () => Scripts.validate("step-1-0", enableNextButton)}) %>
                <%= UI.widget.contextRow("email_work", {required: true, readonly: true, onChange: () => Scripts.validate("step-1-0", enableNextButton)}) %>
                <%= UI.widget.contextRow("phone_number_work", {required: true, onChange: () => Scripts.validate("step-1-0", enableNextButton)}) %>
        </div>
        <div id="step-1-1">
                <%= UI.widget.contextRow("region_app", {required: false, onChange: () => Scripts.validate("step-1-1", enableNextButton)}) %>
                <%= UI.widget.contextRow("city", {required: true, onChange: () => Scripts.validate("step-1-1", enableNextButton)}) %>
                <%= UI.widget.contextRow("street", {required: true, onChange: () => Scripts.validate("step-1-1", enableNextButton)}) %>
                <%= UI.widget.contextRow("house", {required: true, onChange: () => Scripts.validate("step-1-1", enableNextButton)}) %>
                <%= UI.widget.contextRow("housing", {required: false}) %>
                <%= UI.widget.contextRow("flat", {required: false}) %>
        </div>
        <div id="step-1-2">
                <p class="kedo-form__group-title">Паспорт</p>
                <%= UI.widget.contextRow("russian_passport", {required: true, onChange: () => Scripts.validate("step-1-2", enableNextButton)}) %>
                <%= UI.widget.contextRow("passport_series", {required: true, onChange: () => Scripts.validate("step-1-2", enableNextButton)}) %>
                <%= UI.widget.contextRow("passport_number", {required: true, onChange: () => Scripts.validate("step-1-2", enableNextButton)}) %>
                <%= UI.widget.contextRow("date_of_issue", {required: true, onChange: () => Scripts.validate("step-1-2", enableNextButton)}) %>
                <%= UI.widget.contextRow("issuer", {required: true, onChange: () => Scripts.validate("step-1-2", enableNextButton)}) %>
                <%= UI.widget.contextRow("issuer_code", {required: true, onChange: () => Scripts.validate("step-1-2", enableNextButton)}) %>
                <p class="kedo-form__group-title">Документы</p>
                <%= UI.widget.contextRow("inn", {required: true, onChange: () => Scripts.validate("step-1-2", enableNextButton)}) %>
                <%= UI.widget.contextRow("snils", {required: true, onChange: () => Scripts.validate("step-1-2", enableNextButton)}) %>
        </div>
        <div id="step-1-3">
                <table class="kedo-table">
                        
                </table>
                <!-- <%= UI.widget.contextRow("doc_table", {name: " ", required: false, onChange: () => Scripts.validate("step-1-3", enableNextButton)}) %> -->
                
        </div>
        <div id="step-1-4">
                <%= UI.widget.contextRow("passport_face_photo", {required: true, onChange: () => Scripts.validate("step-1-4", enableNextButton)}) %>
        </div>
        <div id="step-2-1">
                <%= UI.widget.contextRow("signed_agreement_scan", {required: true, onChange: () => Scripts.validate("step-2-1", enableNextButton)}) %>
        </div>
</div>
