<% if (Context.data.display_type.code == "list") { %>
<div class="list-wrapper">
    <% if (Context.data.documents_list && Context.data.documents_list.length > 0) { %>
        <ul>
            <% for (const doc of Context.data.documents_list) { %>
                <li class="list-element">
                    <i _ngcontent-wal-c692="" class="elma-icons md-16">file_type_text</i>
                    <a href="<%= doc.href %>"><%= doc.name%></a>
                </li>
            <% } %>
        </ul>
        <div class="service-container">
            <!-- Лоадер при подготовке файлов для скачивания -->
            <% if (Context.data.loader == true) { %>
                <div class="loader-container">
                    <span class="loader"></span>
                    <span>Идет подготовка файлов...</span>
                </div>
            <% } else { %>
                <!-- Иконка для кнопки -->
                <span class="download-button" onclick="<%-Scripts%>.downloadFiles()">Скачать документы
                    <i _ngcontent-wgq-c815="" class="elma-icons ng-star-inserted"> system_download </i>
                </span>
            <% } %>
        </div>
    <% } else { %>
        <span class="custom-title">Связанных документов нет</span>
    <% } %>
</div>

<style>
    .list-wrapper {
        overflow: auto;
        max-height: 30vh;
    }

    .list-wrapper ul {
        padding: 0;
    }

    .list-element {
        display: grid;
        grid-template-columns: max-content auto;
        column-gap: 1.5rem;
        min-height: 3rem;
        padding: 1rem;
        list-style: none;
        align-items: baseline;
    }

    .custom-title {
        font-style: italic; 
        color: #9b9b9b; 
        padding: 7px;
    }

    .service-container {
        display : flex;
        justify-content: flex-end;
        margin-right: 15px;
        cursor: pointer;
    }

    .loader-container {
        display: flex;
        gap : 10px;
        padding: 10px;
    }

    .loader {
        width: 24px;
        height: 24px;
        border: 3px solid #FFF;
        border-bottom-color: #1e6599;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
        }

        @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }   
    }

    .download-button {
        color: #1e6599;
    }

    .download-button:hover {
        cursor: pointer;
        text-decoration: underline #1e6599;
    }
</style>
<% } %>