<app-dynamic-form-row _nghost-snr-c169="" class="doc-types-form">
    <elma-form-row _ngcontent-ftt-c169="" _nghost-ftt-c193="" class="elma-form-row ng-untouched ng-pristine ng-valid">
        <elma-form-label _ngcontent-ftt-c193="" _nghost-ftt-c192="" class="elma-form-label">
            <span _ngcontent-ftt-c192="" class="labelName">
                Виды документов
            </span>
        </elma-form-label>
        <elma-form-control _ngcontent-wxm-c193="" _nghost-wxm-c191="" class="elma-form-control text-base">
            <div class="button-wrapper">
                <button class="show-types">
                    <span class="dropdown-arrow">

                    </span>
                </button>
                <div class="hidden-types">
                    <% if (Context.data.doc_types && Context.data.doc_types.length > 0) { %>
                        <div class="tools-buttons">
                            <button class="btn btn-default select-all-button">Выделить всё</button>
                            <button class="btn btn-default unselect-button">Снять выделенное</button>
                        </div>
                        <% for (const type of Context.data.doc_types) { %>
                            <%= documentVariant(type) %>
                        <% } %>
                    <% } %>
                </div>
            </div>
        </elma-form-control>
    </elma-form-row>
</app-dynamic-form-row>

<!-- variant { -->
<!-- name : string -->
<!-- code : string -->
<!-- } -->
<% $template documentVariant(variant) %>
    <div class="document-variant">
        <div class="document-variant__label">
            <%= variant.name %>
        </div>
        <input type="checkbox" onchange="<%-Scripts%>.selectDocType(variant)" class="document-variant__checkbox"  data-variant="<%= variant.code%>" checked>
        <div class="flag">
        </div>
    </div>
<% $endtemplate %>