<div class="kedo-status kedo-status__ext">
    <% if (Context.data.status_data) { %>
        <span class="kedo-status__text kedo-status__text__ext"><%= Context.data.status_data.name %></span>
    <% } else { %>
        <span class="kedo-status__text">Не определен</span>
    <% } %>
</div>

<style>
    .kedo-status {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 12px;
        border: 1px solid #9b9b9b;
        border-radius: 4px;
    }

    .kedo-status__text {
        color: #9b9b9b;
        font-size: 1em;
        line-height: 12px;
        text-align: center;
    }

    <% if (Context.data.status_data) { %>
        .kedo-status__ext {
            background-color : <%=Context.data.status_data.background_color%>;
            border: 1px solid <%=Context.data.status_data.border_color%>;
        }

        .kedo-status__text__ext {
            color : <%=Context.data.status_data.text_color%>;
        }
    <% } %>
</style>