<div class="main-container-info <%= Context.data.info_type.code %>">
    <div class="holidays-info__container <%= Context.data.info_type.code %> <%= Scripts.getWrapperClass() %>">
        <div class="holidays-info__icon-warning <%= Context.data.info_type.code %>">

        </div>
        <p class="holidays-info__container-content">
            <%= Context.data.info_string %>
        </p>
        <div class="holidays-info__popup-wrapper holidays-info__popup-wrapper--hidden">
            <p class="holidays-info__popup-text">
                <%= Context.data.hover_text %>
            </p>
        </div>
    </div>
    <!-- <% if (Context.data.user) { %>
        <a href="<%= Context.data.user_link %>"><%= Context.data.user_name %></a>
    <% } %>
    <% if (Context.data.staff_app) { %>
        <a href="<%= Context.data.staff_link %>"><%= Context.data.staff_name %></a>
    <% } %> -->
</div>