<div class="ui-teml" style="display: none;width: 900px">
        <div id="org-add-popup">
                <%= UI.widget.contextRow("organization_name", { required: true }) %>
        </div>
        <div id="subdivision-add-popup">
                <%= UI.widget.contextRow("subdivision_name", { required: true }) %>
        </div>
        <div id="position-add-popup">
                <%= UI.widget.contextRow("subdivision_full_name", { required: true }) %>
                <%= UI.widget.contextRow("subdivision_short_name", { required: true }) %>
                <%= UI.widget.contextRow("subdivision_amount", { required: true }) %>
                <%= UI.widget.contextRow("subdivision_salary", { required: true }) %>
                <%= UI.widget.contextRow("approval_date", { required: true }) %>
        </div>
</div>
